@import url('https://fonts.googleapis.com/css?family=Noto+Kufi+Arabic:100,200,300,400,500,600,700,800,900&display=swap'); 
@font-face { 
  font-family:'primeicons';
  font-display:block;
  src:url("./fonts/primeicons.eot.xhtml-ln-diamond-layout");
  src:url("./fonts/primeicons.eot.xhtml-ln-diamond-layout#iefix") format('embedded-opentype'),
    url("./fonts/primeicons.ttf.xhtml-ln-diamond-layout") format('truetype'),
    url("./fonts/primeicons.woff.xhtml-ln-diamond-layout") format('woff'),
    url("./fonts/primeicons.svg.xhtml-ln-diamond-layout#primeicons") format('svg');
  font-weight:normal;
  font-style:normal;
} 
@font-face { 
  font-family:'primeicons';
  font-display:block;
  src:url("./fonts/primeicons.eot.xhtml-ln-primefaces&v-12.0.3");
  src:url("./fonts/primeicons.eot.xhtml-ln-primefaces&v-12.0.3#iefix") format('embedded-opentype'),url("./fonts/primeicons.woff2.xhtml-ln-primefaces&v-12.0.3") format('woff2'),url("./fonts/primeicons.woff.xhtml-ln-primefaces&v-12.0.3") format('woff'),url("./fonts/primeicons.ttf.xhtml-ln-primefaces&v-12.0.3") format('truetype'),url("./fonts/primeicons.svg.xhtml-ln-primefaces&v-12.0.3#primeicons") format('svg');
  font-weight:normal;
  font-style:normal;
} 
  body {  
    font-size:14px;
  }  
* { 
    box-sizing: border-box;
} 

html { 
    height: 100%; 
    font-size: 14px;
} 

body { 
    font-family: 'Noto Kufi Arabic', serif; 
    font-weight: 400; 
    color: #495057; 
    padding: 0; 
    margin: 0; 
    min-height: 100%; 
    background: #f8f9fa; 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
} 

.row-pwr { 
    position: fixed; 
    top: 20px; 
    right: 20px; 
    width: 301px;
} 

.ui-iwf { 
    font-size: 0.97rem !important;
} 

.ui-iwf { 
    font-size: 0.93rem !important;
} 

.row-pwr { 
    right: unset; 
    left: 20px;
} 

.ui-iwf  { 
    font-family: 'Noto Kufi Arabic', serif; 
    font-size: 1rem; 
    text-decoration: none;
} 

.row-pwr  { 
    top: 85px;
} 

.ui-923 { 
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.8); 
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.8); 
    box-shadow: 0 5px 10px rgba(0,0,0,0.8);
} 

.ui-helper-p96 { 
    display: none;
} 

.select-6ak { 
    position: absolute; 
    height: auto;
} 

.select-6ak  { 
    background: #ffffff; 
    border: 0 none; 
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12); 
    border-radius: 4px;
} 

.sidebar-27v { 
    width: 17rem; 
    height: 100%; 
    position: fixed; 
    left: 0; 
    top: 0; 
    overflow: hidden; 
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12); 
    display: -ms-flexbox; 
    display: flex; 
    -ms-flex-direction: column; 
    flex-direction: column; 
    user-select: none; 
    transition: transform 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99);
} 

.sidebar-27v { 
    right: 0;
} 

.sidebar-eq5 .sidebar-27v  { 
    background: #1976D2; 
    border-right: 0 none; 
    background-image: linear-gradient(180deg, #1976D2 10%, #1565C0 100%);
} 

@media screen and (min-width: 992px){ 
  .wrapper-haj.layout-zc6 .sidebar-27v  { 
    width: 6rem; 
    overflow: visible; 
    z-index: 999;
  } 

  .wrapper-haj.layout-zc6 .sidebar-27v  { 
    width: 7rem;
  } 
}     

.content-ges { 
    display: -ms-flexbox; 
    display: flex; 
    -ms-flex-direction: column; 
    flex-direction: column; 
    -ms-flex-pack: justify; 
    justify-content: space-between; 
    min-height: 100vh; 
    transition: margin-left 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99);
} 

@media screen and (min-width: 992px){ 
  .wrapper-haj.layout-zc6 .content-ges  { 
    margin-left: 7rem;
  } 

  .wrapper-haj.layout-zc6 .content-ges  { 
    margin-right: 7rem; 
    margin-left: 0;
  } 
}     

.modal-9bs { 
    -webkit-animation-name: modal-in; 
    animation-name: modal-in;
} 

.layout-yzs { 
    display: none; 
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 998; 
    width: 100%; 
    height: 100%; 
    animation-duration: 0.4s; 
    animation-timing-function: cubic-bezier(0.05, 0.74, 0.2, 0.99); 
    animation-fill-mode: forwards;
} 

.select-6ak .wrapper-cy1  { 
    overflow: auto;
} 

a { 
    text-decoration: none; 
    color: #1976D2;
} 

.sidebar-27v .logo-mme  { 
    text-align: center; 
    display: block; 
    outline: 0 none; 
    padding: 1rem; 
    margin-left: 1rem; 
    margin-right: 1rem; 
    transition: background-color 0.2s, box-shadow 0.2s;
} 

.sidebar-eq5 .sidebar-27v .logo-mme  { 
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
} 

.container-i5w { 
    overflow: auto; 
    flex: 1; 
    padding: 1rem;
} 

@media screen and (min-width: 992px){ 
  .wrapper-haj.layout-zc6 .sidebar-27v .container-i5w  { 
    overflow: visible;
  } 
}     

.content-k3g { 
    padding: 2rem; 
    flex: 1 1 auto; 
    -ms-flex: 1 1 auto;
} 

.footer-ebv { 
    background: #ffffff; 
    height: 4rem; 
    border-top: 1px solid #dee2e6; 
    border-bottom: 1px solid #dee2e6; 
    padding: 0 2rem; 
    display: -ms-flexbox; 
    display: flex; 
    -ms-flex-align: center; 
    align-items: center; 
    -ms-flex-pack: justify; 
    justify-content: space-between;
} 

.footer-ebv { 
    padding: 18px 2rem; 
    display: block; 
    text-align: center; 
    min-height: 70px; 
    max-height: 85px;
} 

.sidebar-27v .image-rrx  { 
    width: 2rem; 
    height: 2rem; 
    vertical-align: middle; 
    margin-right: 0.5rem;
} 

@media screen and (min-width: 992px){ 
  .wrapper-haj.layout-zc6 .sidebar-27v .image-rrx  { 
    margin-right: 0;
  } 
}     

.sidebar-27v .app-s1f  { 
    vertical-align: middle; 
    font-size: 1.5rem; 
    letter-spacing: 0.2px;
} 

.sidebar-eq5 .sidebar-27v .app-s1f  { 
    color: #ffffff;
} 

@media screen and (min-width: 992px){ 
  .wrapper-haj.layout-zc6 .sidebar-27v .app-s1f  { 
    display: none;
  } 
}     

.bar-cog { 
    background: #ffffff; 
    height: 4rem; 
    padding: 0 2rem; 
    border-bottom: 1px solid #dee2e6; 
    display: -ms-flexbox; 
    display: flex; 
    -ms-flex-align: center; 
    align-items: center; 
    -ms-flex-pack: justify; 
    justify-content: space-between; 
    color: #495057;
} 

.raacn { 
    font-family: 'primeicons'; 
    speak: none; 
    font-style: normal; 
    font-weight: normal; 
    font-variant: normal; 
    text-transform: none; 
    line-height: 1; 
    display: inline-block; 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
} 

.pi-tty { 
    -webkit-animation: fa-spin 2s infinite linear; 
    animation: fa-spin 2s infinite linear;
} 

.raacn { 
    font-family: 'primeicons'; 
    font-style: normal; 
    font-weight: normal; 
    font-variant: normal; 
    text-transform: none; 
    line-height: 1; 
    display: inline-block; 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
} 

.icon-d4i { 
    position: fixed; 
    right: 2rem; 
    bottom: 2rem; 
    font-size: 2rem; 
    color: #6c757d; 
    z-index: 999;
} 

.raacn  { 
    font-size: 1rem;
} 

.raacn:before { 
    backface-visibility: hidden;
} 

.spinner-h4m:before { 
    content: "\e926";
} 

.menu-tmx { 
    margin: 0; 
    padding: 0; 
    list-style-type: none;
} 

.bar-cog .bar-b5l  { 
    display: -ms-flexbox; 
    display: flex; 
    -ms-flex-align: center; 
    align-items: center;
} 

.grid-28f { 
    display: flex; 
    flex-wrap: wrap; 
    margin-right: -0.5rem; 
    margin-left: -0.5rem; 
    margin-top: -0.5rem;
} 

.footer-ebv .cop-om1  { 
    font-size: 0.95rem; 
    color: #3b3f42; 
    font-weight: bold;
} 

@media screen and (min-width: 992px){ 
  .wrapper-haj.layout-zc6 .menu-tmx .menu-woc  { 
    position: relative; 
    border-radius: 4px;
  } 
}     

.menu-tmx .menu-mbp  { 
    margin: 1rem 0;
} 

.sidebar-eq5 .sidebar-27v .menu-tmx .menu-mbp  { 
    border-top: 1px solid rgba(255, 255, 255, 0.2);
} 

.bar-cog .button-m1d  { 
    width: 2.5rem; 
    height: 2.5rem; 
    line-height: 2.5rem; 
    text-align: center; 
    color: #495057; 
    overflow: hidden; 
    border-radius: 4px; 
    background: #f8f9fa; 
    transition: background-color 0.2s, box-shadow 0.2s; 
    display: block; 
    cursor: pointer; 
    outline: 0 none;
} 

@media screen and (min-width: 992px){ 
  .wrapper-haj.layout-zc6 .bar-b5l .button-m1d  { 
    display: none;
  } 
}     

.bar-cog .button-m1d:hover { 
    background: #e9ecef;
} 

.bar-cog .bar-54i  { 
    display: block; 
    width: 1px; 
    border-left: 1px solid #dee2e6; 
    align-self: stretch; 
    margin: 0 1rem;
} 

@media screen and (min-width: 992px){ 
  .wrapper-haj.layout-zc6 .bar-b5l .bar-54i  { 
    display: none;
  } 
}     

.bar-cog .vie-owg  { 
    font-weight: 600; 
    font-size: 1.25rem;
} 

.bar-cog .menu-lgy  { 
    margin: 0; 
    padding: 0; 
    list-style-type: none; 
    display: -ms-flexbox; 
    display: flex; 
    -ms-flex-align: center; 
    align-items: center;
} 

.col-ykw { 
    flex: 0 0 auto; 
    padding: .5rem; 
    width: 100%;
} 

@media screen and (min-width: 768px){ 
  .col-3ej { 
    flex: 0 0 auto; 
    padding: .5rem; 
    width: 50%;
  } 
}     

.grid-28f > [class*="col"]  { 
    box-sizing: border-box;
} 

@media screen and (min-width: 768px){ 
  .col-gd7 { 
    flex: 0 0 auto; 
    padding: .5rem; 
    width: 75%;
  } 

  .col-vxd { 
    flex: 0 0 auto; 
    padding: .5rem; 
    width: 25%;
  } 
}     

.menu-tmx .menu-woc > .menu-hxf  { 
    font-size: 0.857rem; 
    text-transform: uppercase; 
    font-weight: 700; 
    padding: 0.5rem 0 1rem 0;
} 

@media screen and (min-width: 992px){ 
  .wrapper-haj.layout-zc6 .menu-tmx .menu-woc > .menu-hxf  { 
    display: none;
  } 
}     

.sidebar-eq5 .sidebar-27v .menu-tmx .menu-woc .menu-hxf  { 
    color: rgba(255, 255, 255, 0.4);
} 

.menu-tmx .menu-woc > a  { 
    display: none;
} 

.sidebar-eq5 .sidebar-27v .menu-tmx li a  { 
    color: rgba(255, 255, 255, 0.8);
} 

@media screen and (min-width: 992px){ 
  .wrapper-haj.layout-zc6 .menu-tmx .menu-woc > a  { 
    display: block; 
    text-align: center; 
    border-radius: 4px; 
    padding: 0.5rem 0; 
    cursor: pointer; 
    outline: none; 
    transition: background-color 0.2s;
  } 
}     

.sidebar-eq5 .sidebar-27v .menu-tmx li a:hover { 
    background: rgba(255, 255, 255, 0.1);
} 

.menu-tmx ul  { 
    margin: 0; 
    padding: 0; 
    list-style-type: none;
} 

@media screen and (min-width: 992px){ 
  .wrapper-haj.layout-zc6 .menu-tmx ul  { 
    display: none;
  } 

  .wrapper-haj.layout-zc6 .menu-tmx .menu-woc > ul  { 
    position: absolute; 
    left: 6rem; 
    top: 0; 
    min-width: 15rem; 
    border: 0 none; 
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12); 
    border-top-right-radius: 4px; 
    border-bottom-right-radius: 4px; 
    padding: 1rem; 
    animation-duration: 0.4s; 
    animation-timing-function: cubic-bezier(0.05, 0.74, 0.2, 0.99);
  } 

  .wrapper-haj.layout-zc6 .menu-tmx .menu-woc > ul  { 
    left: 0rem; 
    right: 6rem; 
    border-top-right-radius: 0px; 
    border-top-left-radius: 4px; 
    border-bottom-right-radius: 0px; 
    border-bottom-left-radius: 4px; 
    min-width: 18rem;
  } 

  .sidebar-eq5.layout-zc6 .sidebar-27v .menu-tmx .menu-woc > ul  { 
    background: #1976D2; 
    background-image: linear-gradient(180deg, #1976D2 10%, #1565C0 100%);
  } 
}     

.bar-cog .button-m1d i  { 
    line-height: inherit; 
    font-size: 1.5rem;
} 

.pi-chevron-nsi:before { 
    content: "\e900";
} 

.bar-cog .logo-a5p  { 
    display: none;
} 

.bar-cog .menu-lgy > li  { 
    margin-left: 1rem; 
    position: relative;
} 

.bar-cog .menu-lgy > li:first-child  { 
    margin-left: 0;
} 

.bar-cog .menu-lgy > li.profile-ndt  { 
    padding: 0 1rem 0 1rem; 
    border-left: 1px solid #dee2e6; 
    border-right: 1px solid #dee2e6;
} 

.card-k3b { 
    border-radius: 4px; 
    background: #ffffff; 
    padding: 1.25rem; 
    border: 0 none; 
    margin-bottom: 2rem; 
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
} 

.stud-address-7q5 { 
    min-height: 520px; 
    max-height: 520px; 
    overflow: auto;
} 

.card-k3b:last-child { 
    margin-bottom: 0;
} 

.field-iy3 { 
    min-height: 75px; 
    max-height: 150px;
} 

.footer-kfn { 
    min-height: 75px; 
    max-height: 75px;
} 

.pi-24t { 
    width: 1.28571429em; 
    text-align: center;
} 

@media screen and (min-width: 992px){ 
  .wrapper-haj.layout-zc6 .menu-tmx .menu-woc > a .menu-a54  { 
    font-size: 1.25rem;
  } 
}     

.pi-4rp:before { 
    content: "\e9ba";
} 

@media screen and (min-width: 992px){ 
  .wrapper-haj.layout-zc6 .menu-tmx .menu-woc > a .menu-58q  { 
    font-size: 0.875rem; 
    display: block; 
    margin-top: 0.25rem;
  } 

  .wrapper-haj.layout-zc6 .menu-tmx .menu-woc > a .toggle-gor  { 
    display: none;
  } 
}     

.pi-chevron-oni:before { 
    content: "\e902";
} 

.pi-po3:before { 
    content: "\e979";
} 

.search-5qc:before { 
    content: "\e908";
} 

.button-em3 { 
    display: inline-block; 
    position: relative; 
    padding: 0; 
    margin-right: .1em; 
    text-decoration: none !important; 
    cursor: pointer; 
    text-align: center; 
    overflow: visible;
} 

.button-2vy { 
    width: 2.4em;
} 

.button-em3  { 
    background: #2196F3; 
    color: #ffffff; 
    border: 1px solid #2196F3; 
    margin: 0; 
    outline: 0 none; 
    border-radius: 4px; 
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
} 

.button-em3.button-2vy  { 
    width: 2.357rem;
} 

.button-em3.button-lta  { 
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
} 

.button-em3.button-esz  { 
    background: #607D8B; 
    color: #ffffff; 
    border: 1px solid #607D8B;
} 

 body .button-em3.button-esz:not(:disabled):hover { 
    background: #56717d; 
    border-color: #56717d; 
    color: #ffffff;
} 

.button-em3.button-x1m  { 
    background: #0288D1; 
    color: #ffffff; 
    border: 1px solid #0288D1;
} 

.button-em3.button-7qk  { 
    background: #D32F2F; 
    color: #ffffff; 
    border: 1px solid #D32F2F;
} 

.field-qak { 
    margin-bottom: 1rem;
} 

.field-qak.grid-28f { 
    margin-top: 0;
} 

.mr-7oh { 
    margin-right: .25rem !important;
} 

.ml-hy1 { 
    margin-left: 3rem !important;
} 

.mb-x85 { 
    margin-bottom: .25rem !important;
} 

.menu-tmx ul a  { 
    display: -ms-flexbox; 
    display: flex; 
    -ms-flex-align: center; 
    align-items: center; 
    position: relative; 
    padding: 0.5rem; 
    font-size: 1rem; 
    border-radius: 4px; 
    outline: 0 none; 
    cursor: pointer; 
    transition: background-color 0.2s, box-shadow 0.2s;
} 

.menu-tmx ul a  { 
    font-size: 0.92rem;
} 

.menu-tmx ul a  { 
    font-size: 0.90rem;
} 

.icon-q4e { 
    display: inline-block; 
    vertical-align: middle; 
    margin-top: -.25em; 
    position: relative; 
    text-indent: -99999px; 
    overflow: hidden; 
    background-repeat: no-repeat;
} 

.icon-q4e { 
    display: block; 
    vertical-align: baseline; 
    margin-top: 0;
} 

.button-yn5 { 
    left: .5em;
} 

.icon-q4e  { 
    font-size: 1rem; 
    display: inline-block; 
    vertical-align: baseline; 
    margin: 0; 
    position: static; 
    text-indent: 0; 
    overflow: visible; 
    background-repeat: no-repeat;
} 

.button-2vy .icon-q4e  { 
    position: absolute; 
    top: 50%; 
    margin-top: -8px;
} 

.button-2vy .icon-q4e  { 
    left: 50%; 
    margin-left: -8px;
} 

.ui-iwf .icon-q4e.raacn ,.icon-q4e.raacn { 
    background: none repeat scroll 0 0 transparent !important; 
    text-indent: 0 !important;
} 

.button-em3.button-2vy .icon-q4e  { 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    margin-top: -0.5rem; 
    margin-left: -0.5rem;
} 

.pi-ng3:before { 
    content: "\e9c8";
} 

.button-em3 .button-w3d  { 
    display: block; 
    line-height: normal;
} 

.button-2vy .button-w3d  { 
    padding: .3em; 
    text-indent: -9999999px;
} 

.button-em3.button-2vy .button-w3d  { 
    padding: 0.5rem 0;
} 

.pi-user-xlx:before { 
    content: "\e98a";
} 

.pi-sign-a39:before { 
    content: "\e971";
} 

@media screen and (min-width: 768px){ 
  .col-izs { 
    flex: 0 0 auto; 
    padding: .5rem; 
    width: 33.3333%;
  } 
}     

.mb-iv5 { 
    margin-bottom: .5rem !important;
} 

.field-qak > label  { 
    display: inline-block; 
    margin-bottom: .5rem;
} 

.field-qak.grid-28f > label  { 
    display: flex; 
    align-items: center;
} 

.field-qak.grid-28f .col-ykw  { 
    padding-top: 0; 
    padding-bottom: 0;
} 

@media screen and (min-width: 768px){ 
  .col-jcq { 
    flex: 0 0 auto; 
    padding: .5rem; 
    width: 66.6667%;
  } 

  .col-lq3 { 
    flex: 0 0 auto; 
    padding: .5rem; 
    width: 83.3333%;
  } 

  .col-akw { 
    flex: 0 0 auto; 
    padding: .5rem; 
    width: 16.6667%;
  } 
}     

.button-x54 .icon-q4e  { 
    position: absolute; 
    top: 50%; 
    margin-top: -8px;
} 

.button-em3.button-x54 .icon-q4e  { 
    position: absolute; 
    top: 50%; 
    left: 0.5rem; 
    margin-top: -0.5rem;
} 

.pi-v9l:before { 
    content: "\e95b";
} 

.button-x54 .button-w3d  { 
    padding: .3em 1em .3em 2.1em;
} 

.button-em3.button-x54 .button-w3d  { 
    padding: 0.5rem 1rem 0.5rem 2rem;
} 

.menu-tmx ul a .menu-a54  { 
    margin-right: 0.5rem;
} 

.pi-tg8:before { 
    content: "\e927";
} 

.table-9a3:before { 
    content: "\e969";
} 

.pi-hpr:before { 
    content: "\e90b";
} 

.pi-bo9:before { 
    content: "\e90f";
} 

.menu-tmx ul a.icon-6yx .menu-a54  { 
    transform: rotate(90deg);
} 

.pi-l7f:before { 
    content: "\e958";
} 

.pi-money-5q3:before { 
    content: "\e974";
} 

.pi-1cq:before { 
    content: "\e9b8";
} 

.pi-9s1:before { 
    content: "\e9e6";
} 

.pi-l7s:before { 
    content: "\e95a";
} 

.pi-file-i49:before { 
    content: "\e9a8";
} 

.pi-1kr:before { 
    content: "\e909";
} 

.pi-ke5:before { 
    content: "\e94b";
} 

.tag-o7a:before { 
    content: "\e9be";
} 

.chart-mdb:before { 
    content: "\e96d";
} 

.list-81a:before { 
    content: "\e967";
} 

.label-bor .label-fk8  { 
    margin-left: .4em;
} 

.field-99g { 
    margin: 0; 
    outline: medium none; 
    padding: 4px; 
    font-weight: normal;
} 

.field-99g  { 
    color: #495057; 
    background: #ffffff; 
    padding: 0.5rem 0.5rem; 
    border: 1px solid #ced4da; 
    outline: 0 none; 
    font-size: 1rem; 
    border-radius: 4px; 
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s; 
    -webkit-appearance: none; 
    appearance: none;
} 

.ui-886 .field-99g  { 
    box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
} 

.ui-886 .input-ic7  { 
    width: 100%;
} 

.input-1qp { 
    overflow: hidden; 
    resize: none;
} 

.input-kjy  { 
    vertical-align: top;
} 

.ui-886 .input-kjy  { 
    width: 100%;
} 

.select-ogs { 
    display: inline-block; 
    position: relative; 
    width: auto; 
    -moz-transform: scaleX(1); 
    -o-transform: scaleX(1); 
    -webkit-transform: scaleX(1); 
    transform: scaleX(1); 
    cursor: pointer; 
    padding-right: 22px; 
    vertical-align: top;
} 

.select-tb8 { 
    direction: rtl;
} 

.select-ogs  { 
    vertical-align: middle; 
    border: 1px solid #ced4da; 
    position: relative; 
    transform: none; 
    padding: 0; 
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s; 
    border-radius: 4px; 
    background: #ffffff;
} 

.ui-886 .select-ogs  { 
    width: 100%; 
    box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
} 

.ui-helper-hidden-7cs { 
    border: 0; 
    clip: rect(0 0 0 0); 
    height: 1px; 
    margin: -1px; 
    overflow: hidden; 
    padding: 0; 
    position: absolute; 
    width: 1px;
} 

.select-ogs .select-2oe  { 
    display: block; 
    border: 0; 
    white-space: nowrap; 
    overflow: hidden; 
    font-weight: normal; 
    width: 100%; 
    text-align: left;
} 

.select-tb8 .select-2oe  { 
    text-align: right;
} 

.select-ogs .select-2oe  { 
    background: transparent; 
    padding-right: 2.357rem;
} 

.ui-886 .select-2oe  { 
    width: calc(100% - 2.357rem); 
    padding: 0.5rem 0.5rem;
} 

.select-ogs label.select-2oe  { 
    cursor: pointer;
} 

.select-ogs .select-2oe  { 
    background: transparent; 
    padding-right: 0.357rem; 
    padding-left: 30px;
} 

.select-ogs .select-ho7  { 
    border-right: 0; 
    border-top: 0; 
    border-bottom: 0; 
    cursor: pointer; 
    width: 16px; 
    height: 100%; 
    position: absolute; 
    right: 0; 
    top: 0; 
    padding: 0 3px;
} 

.select-tb8 .select-ho7  { 
    left: 0; 
    right: auto;
} 

.select-ogs .select-ho7  { 
    border: 0 none; 
    cursor: pointer; 
    height: 100%; 
    position: absolute; 
    padding: 0; 
    display: -ms-flexbox; 
    display: flex; 
    -ms-flex-align: center; 
    align-items: center; 
    -ms-flex-pack: center; 
    justify-content: center; 
    width: 2.357rem; 
    background: transparent; 
    border-top-right-radius: 4px; 
    border-bottom-right-radius: 4px;
} 

.ui-886 .select-ogs .select-ho7  { 
    width: 32px; 
    padding: 0 6px; 
    box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
} 

.ui-886 .select-ogs .select-ho7  { 
    width: 2.357rem; 
    padding: 0;
} 

.ui-helper-hidden-7cs input  { 
    -webkit-transform: scale(0); 
    -moz-transform: scale(0); 
    -ms-transform: scale(0); 
    transform: scale(0);
} 

.ui-helper-hidden-7cs select  { 
    -webkit-transform: scale(0); 
    -moz-transform: scale(0); 
    -ms-transform: scale(0); 
    transform: scale(0);
} 

.select-ogs .select-ho7 .icon-q4e  { 
    position: absolute; 
    margin: auto; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0;
} 

.select-ogs .select-ho7 .icon-q4e  { 
    position: static; 
    margin: 0; 
    color: #6c757d; 
    font-family: "primeicons" !important; 
    font-style: normal; 
    font-weight: normal; 
    display: inline-block; 
    background: none;
} 

body .select-ogs .select-ho7 .icon-q4e::before { 
    content: "\e902";
} 

@media (max-width: 640px){ 
  .select-6ak  { 
    max-width: 300px;
  } 
}     

@media screen and (max-width: 991px){ 
  .wrapper-haj .sidebar-27v  { 
    z-index: 999; 
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15); 
    transform: translateX(-100%);
  } 

  .wrapper-haj .sidebar-27v  { 
    z-index: 999; 
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15); 
    transform: translateX(100%);
  } 

  .wrapper-haj .content-ges  { 
    margin-left: 0; 
    padding-top: 7.125rem;
  } 

  .wrapper-haj .bar-cog  { 
    height: 7.125rem; 
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap; 
    position: fixed; 
    left: 0; 
    top: 0; 
    width: 100%; 
    z-index: 998; 
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  } 

  .wrapper-haj .bar-cog .bar-b5l  { 
    width: 100%; 
    padding: 0.5rem 0; 
    -ms-flex-pack: justify; 
    justify-content: space-between; 
    border-bottom: 1px solid #dee2e6;
  } 

  .wrapper-haj .bar-cog .bar-82z  { 
    width: 100%; 
    padding: 0.5rem 0;
  } 

  .wrapper-haj .bar-cog .bar-b5l .bar-54i  { 
    display: none;
  } 

  .wrapper-haj .bar-cog .vie-owg  { 
    font-size: 1rem;
  } 

  .wrapper-haj .bar-cog .menu-lgy  { 
    -ms-flex-pack: justify; 
    justify-content: space-between;
  } 

  .wrapper-haj .bar-cog .button-m1d i::before { 
    content: "\e91d";
  } 

  .wrapper-haj .bar-cog .logo-a5p  { 
    display: block; 
    width: 2rem; 
    height: 2rem;
  } 

  .wrapper-haj .bar-cog .menu-lgy > li  { 
    margin-left: 0;
  } 
}     

@media screen and (max-width: 576px){ 
  .wrapper-haj .bar-cog .menu-lgy > li  { 
    position: static;
  } 
}     

@media screen and (max-width: 991px){ 
  .wrapper-haj .bar-cog .menu-lgy > li.profile-ndt  { 
    border-left: 0; 
    border-right: 0; 
    padding: 0;
  } 
}     

@media (max-width: 640px){ 
  .ui-886 .select-ogs  { 
    min-width: 100px !important;
  } 

  .select-ogs .select-2oe  { 
    white-space: normal;
  } 
}     

@media screen and (max-width: 991px){ 
  .blocked-scroll { 
    overflow: hidden;
  } 
}     


@keyframes modal-in { 
  0% {  
      background-color: transparent; 
      background-color: transparent; 
  }  
  100% {  
      background-color: rgba(0, 0, 0, 0.6); 
      background-color: rgba(0, 0, 0, 0.6); 
  }  

} 
@keyframes fa-spin { 
  0% {  
      -webkit-transform: rotate(0deg); 
      transform: rotate(0deg); 
      transform: rotate(0deg); 
  }  
  100% {  
      -webkit-transform: rotate(359deg); 
      transform: rotate(359deg); 
      transform: rotate(359deg); 
  }  

} 
/* These were inline style tags. Uses id+class to override almost everything */
#style-hkEtD.style-hkEtD {  
   margin-left: 0.3rem;  
}  
#style-Q5UOJ.style-Q5UOJ {  
   margin-left: 0.3rem;  
}  
#style-MVZHS.style-MVZHS {  
   margin-left: 0.3rem;  
}  
#for-weh.style-ZKnpj {  
   overflow-x: hidden;  
    overflow-wrap: break-word;  
    height: 41px;  
}  
#for-wc7.style-9ti96 {  
   width: 100% !important;  
}  
#for-rcm.style-AFk7z {  
   width: 100% !important;  
}  
#for-ror.style-SYatY {  
   width: 100% !important;  
}  
#for-57e.style-79eeq {  
   width: 100% !important;  
}  
#style-Tq4Lj.style-Tq4Lj {  
   margin-bottom: 0rem;  
}  
#for-7t4.style-4tt4F {  
   width: 100% !important;  
}  
#j_i-jqf.style-Qi6XP {  
   width:32px;  
   height:32px;  
   position:fixed;  
   right:7px;  
   bottom:7px;  
}  
#tex-zyz.style-7PQJE {  
   position: absolute;  
    top: 0px;  
    left: 0px;  
    visibility: hidden;  
}  
#ale-bcr.style-cYUFb {  
   z-index: 1001;  
}  
#sni-esb.style-OfTLh {  
   right: 53px;  
    top: 229px;  
}  
#style-vLMfB.style-vLMfB {  
   touch-action: none;  
}  
#style-1eFpO.style-1eFpO {  
   touch-action: none;  
}  
#style-zXRQ4.style-zXRQ4 {  
   top: 191px;  
    left: 1324px;  
    height: 0px;  
    width: 0px;  
}  
#style-aosKC.style-aosKC {  
   top: 191px;  
    left: 1574px;  
    height: 0px;  
    width: 0px;  
}  
#style-wpV4Q.style-wpV4Q {  
   top: 227px;  
    left: 1324px;  
    height: 0px;  
    width: 0px;  
}  
#style-b1pA3.style-b1pA3 {  
   top: 191px;  
    left: 1322px;  
    height: 0px;  
    width: 0px;  
}  
#style-jINTE.style-jINTE {  
   top: -2px;  
    left: 0px;  
    height: 0px;  
    width: 0px;  
}  
#style-jw9HT.style-jw9HT {  
   top: -4px;  
    left: -4px;  
    height: 0px;  
    width: 0px;  
}  
#style-zMBRR.style-zMBRR {  
   top: -4px;  
    left: -4px;  
    height: 0px;  
    width: 0px;  
}  
#style-lWHKS.style-lWHKS {  
   top: -2px;  
    left: -2px;  
    height: 0px;  
    width: 0px;  
}  
#style-XMvWr.style-XMvWr {  
   top: 0px;  
    left: 0px;  
    position: absolute;  
}  
#sni-woo.style-HtZB4 {  
   left: 1628px;  
    top: 0px;  
}  
/* These were inline style tags. Uses id+class to override almost everything */
#style-ANBgp.style-ANBgp {  
   margin-left: 0.3rem;  
}  
#style-Mxnb6.style-Mxnb6 {  
   margin-left: 0.3rem;  
}  
#style-Us5Sy.style-Us5Sy {  
   margin-left: 0.3rem;  
}  
#for-wb3.style-OjxQ5 {  
   overflow-x: hidden;  
    overflow-wrap: break-word;  
    height: 41px;  
}  
#for-k36.style-EUn5o {  
   width: 100% !important;  
}  
#for-bro.style-1eHY6 {  
   width: 100% !important;  
}  
#for-qb8.style-x6daS {  
   width: 100% !important;  
}  
#for-cly.style-NESom {  
   width: 100% !important;  
}  
#style-HfiQg.style-HfiQg {  
   margin-bottom: 0rem;  
}  
#for-fk4.style-qV7Qm {  
   width: 100% !important;  
}  
#j_i-xp6.style-PoVwT {  
   width:32px;  
   height:32px;  
   position:fixed;  
   right:7px;  
   bottom:7px;  
}  
#tex-9v1.style-os6oY {  
   position: absolute;  
    top: 0px;  
    left: 0px;  
    visibility: hidden;  
}  
#ale-kq1.style-BIEEO {  
   z-index: 1001;  
}  
#sni-s6k.style-JzdA4 {  
   right: 53px;  
    top: 229px;  
}  
#style-AhWCh.style-AhWCh {  
   touch-action: none;  
}  
#style-vNvOh.style-vNvOh {  
   touch-action: none;  
}  
#style-RSNNE.style-RSNNE {  
   top: 191px;  
    left: 1324px;  
    height: 0px;  
    width: 0px;  
}  
#style-q6lMm.style-q6lMm {  
   top: 191px;  
    left: 1574px;  
    height: 0px;  
    width: 0px;  
}  
#style-AHXbJ.style-AHXbJ {  
   top: 227px;  
    left: 1324px;  
    height: 0px;  
    width: 0px;  
}  
#style-EdXRU.style-EdXRU {  
   top: 191px;  
    left: 1322px;  
    height: 0px;  
    width: 0px;  
}  
#style-meU2l.style-meU2l {  
   top: -2px;  
    left: 0px;  
    height: 0px;  
    width: 0px;  
}  
#style-8FPti.style-8FPti {  
   top: -4px;  
    left: -4px;  
    height: 0px;  
    width: 0px;  
}  
#style-WZUUZ.style-WZUUZ {  
   top: -4px;  
    left: -4px;  
    height: 0px;  
    width: 0px;  
}  
#style-yKJHG.style-yKJHG {  
   top: -2px;  
    left: -2px;  
    height: 0px;  
    width: 0px;  
}  
#style-zoP4h.style-zoP4h {  
   top: 0px;  
    left: 0px;  
    position: absolute;  
}  
#sni-1n4.style-zRZC3 {  
   left: 1628px;  
    top: 0px;  
}  
