@import url('https://fonts.googleapis.com/css?family=Noto+Kufi+Arabic:100,200,300,400,500,600,700,800,900&display=swap'); 
@font-face { 
  font-family:'primeicons';
  font-display:block;
  src:url("./fonts/primeicons.eot.xhtml-ln-primefaces&v-12.0.3");
  src:url("./fonts/primeicons.eot.xhtml-ln-primefaces&v-12.0.3#iefix") format('embedded-opentype'),url("./fonts/primeicons.woff2.xhtml-ln-primefaces&v-12.0.3") format('woff2'),url("./fonts/primeicons.woff.xhtml-ln-primefaces&v-12.0.3") format('woff'),url("./fonts/primeicons.ttf.xhtml-ln-primefaces&v-12.0.3") format('truetype'),url("./fonts/primeicons.svg.xhtml-ln-primefaces&v-12.0.3#primeicons") format('svg');
  font-weight:normal;
  font-style:normal;
} 
@font-face { 
  font-family:'primeicons';
  font-display:block;
  src:url("./fonts/primeicons.eot.xhtml-ln-diamond-layout");
  src:url("./fonts/primeicons.eot.xhtml-ln-diamond-layout#iefix") format('embedded-opentype'),
    url("./fonts/primeicons.ttf.xhtml-ln-diamond-layout") format('truetype'),
    url("./fonts/primeicons.woff.xhtml-ln-diamond-layout") format('woff'),
    url("./fonts/primeicons.svg.xhtml-ln-diamond-layout#primeicons") format('svg');
  font-weight:normal;
  font-style:normal;
} 
  body {  
    font-size:14px;
  }  
* { 
    box-sizing: border-box;
} 

html { 
    height: 100%; 
    font-size: 14px;
} 

body { 
    font-family: 'Noto Kufi Arabic', serif; 
    font-weight: 400; 
    color: #495057; 
    padding: 0; 
    margin: 0; 
    min-height: 100%; 
    background: #f8f9fa; 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
} 

.row-yjg { 
    position: fixed; 
    top: 20px; 
    right: 20px; 
    width: 301px;
} 

.ui-oz5 { 
    font-size: 0.97rem !important;
} 

.ui-oz5 { 
    font-size: 0.93rem !important;
} 

.row-yjg { 
    right: unset; 
    left: 20px;
} 

.ui-oz5  { 
    font-family: 'Noto Kufi Arabic', serif; 
    font-size: 1rem; 
    text-decoration: none;
} 

.row-yjg  { 
    top: 85px;
} 

.ui-dialog-docking-okx { 
    position: fixed; 
    bottom: 0; 
    left: 0;
} 

.sidebar-dmc { 
    width: 17rem; 
    height: 100%; 
    position: fixed; 
    left: 0; 
    top: 0; 
    overflow: hidden; 
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12); 
    display: -ms-flexbox; 
    display: flex; 
    -ms-flex-direction: column; 
    flex-direction: column; 
    user-select: none; 
    transition: transform 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99);
} 

.sidebar-dmc { 
    right: 0;
} 

.sidebar-hfm .sidebar-dmc  { 
    background: #1976D2; 
    border-right: 0 none; 
    background-image: linear-gradient(180deg, #1976D2 10%, #1565C0 100%);
} 

@media screen and (min-width: 992px){ 
  .wrapper-1iv.layout-yob .sidebar-dmc  { 
    width: 6rem; 
    overflow: visible; 
    z-index: 999;
  } 

  .wrapper-1iv.layout-yob .sidebar-dmc  { 
    width: 7rem;
  } 
}     

.content-w4c { 
    display: -ms-flexbox; 
    display: flex; 
    -ms-flex-direction: column; 
    flex-direction: column; 
    -ms-flex-pack: justify; 
    justify-content: space-between; 
    min-height: 100vh; 
    transition: margin-left 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99);
} 

@media screen and (min-width: 992px){ 
  .wrapper-1iv.layout-yob .content-w4c  { 
    margin-left: 7rem;
  } 

  .wrapper-1iv.layout-yob .content-w4c  { 
    margin-right: 7rem; 
    margin-left: 0;
  } 
}     

.modal-12n { 
    -webkit-animation-name: modal-in; 
    animation-name: modal-in;
} 

.layout-tst { 
    display: none; 
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 998; 
    width: 100%; 
    height: 100%; 
    animation-duration: 0.4s; 
    animation-timing-function: cubic-bezier(0.05, 0.74, 0.2, 0.99); 
    animation-fill-mode: forwards;
} 

a { 
    text-decoration: none; 
    color: #1976D2;
} 

.sidebar-dmc .logo-cog  { 
    text-align: center; 
    display: block; 
    outline: 0 none; 
    padding: 1rem; 
    margin-left: 1rem; 
    margin-right: 1rem; 
    transition: background-color 0.2s, box-shadow 0.2s;
} 

.sidebar-hfm .sidebar-dmc .logo-cog  { 
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
} 

.container-998 { 
    overflow: auto; 
    flex: 1; 
    padding: 1rem;
} 

@media screen and (min-width: 992px){ 
  .wrapper-1iv.layout-yob .sidebar-dmc .container-998  { 
    overflow: visible;
  } 
}     

.content-19w { 
    padding: 2rem; 
    flex: 1 1 auto; 
    -ms-flex: 1 1 auto;
} 

.footer-rql { 
    background: #ffffff; 
    height: 4rem; 
    border-top: 1px solid #dee2e6; 
    border-bottom: 1px solid #dee2e6; 
    padding: 0 2rem; 
    display: -ms-flexbox; 
    display: flex; 
    -ms-flex-align: center; 
    align-items: center; 
    -ms-flex-pack: justify; 
    justify-content: space-between;
} 

.footer-rql { 
    padding: 18px 2rem; 
    display: block; 
    text-align: center; 
    min-height: 70px; 
    max-height: 85px;
} 

.sidebar-dmc .image-b13  { 
    width: 2rem; 
    height: 2rem; 
    vertical-align: middle; 
    margin-right: 0.5rem;
} 

@media screen and (min-width: 992px){ 
  .wrapper-1iv.layout-yob .sidebar-dmc .image-b13  { 
    margin-right: 0;
  } 
}     

.sidebar-dmc .app-38k  { 
    vertical-align: middle; 
    font-size: 1.5rem; 
    letter-spacing: 0.2px;
} 

.sidebar-hfm .sidebar-dmc .app-38k  { 
    color: #ffffff;
} 

@media screen and (min-width: 992px){ 
  .wrapper-1iv.layout-yob .sidebar-dmc .app-38k  { 
    display: none;
  } 
}     

.bar-no1 { 
    background: #ffffff; 
    height: 4rem; 
    padding: 0 2rem; 
    border-bottom: 1px solid #dee2e6; 
    display: -ms-flexbox; 
    display: flex; 
    -ms-flex-align: center; 
    align-items: center; 
    -ms-flex-pack: justify; 
    justify-content: space-between; 
    color: #495057;
} 

.qcvmm { 
    font-family: 'primeicons'; 
    speak: none; 
    font-style: normal; 
    font-weight: normal; 
    font-variant: normal; 
    text-transform: none; 
    line-height: 1; 
    display: inline-block; 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
} 

.pi-o98 { 
    -webkit-animation: fa-spin 2s infinite linear; 
    animation: fa-spin 2s infinite linear;
} 

.qcvmm { 
    font-family: 'primeicons'; 
    font-style: normal; 
    font-weight: normal; 
    font-variant: normal; 
    text-transform: none; 
    line-height: 1; 
    display: inline-block; 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
} 

.icon-8wk { 
    position: fixed; 
    right: 2rem; 
    bottom: 2rem; 
    font-size: 2rem; 
    color: #6c757d; 
    z-index: 999;
} 

.qcvmm  { 
    font-size: 1rem;
} 

.qcvmm:before { 
    backface-visibility: hidden;
} 

.spinner-cal:before { 
    content: "\e926";
} 

.menu-epf { 
    margin: 0; 
    padding: 0; 
    list-style-type: none;
} 

.bar-no1 .bar-jws  { 
    display: -ms-flexbox; 
    display: flex; 
    -ms-flex-align: center; 
    align-items: center;
} 

.grid-hzf { 
    display: flex; 
    flex-wrap: wrap; 
    margin-right: -0.5rem; 
    margin-left: -0.5rem; 
    margin-top: -0.5rem;
} 

.footer-rql .cop-8oj  { 
    font-size: 0.95rem; 
    color: #3b3f42; 
    font-weight: bold;
} 

@media screen and (min-width: 992px){ 
  .wrapper-1iv.layout-yob .menu-epf .menu-8on  { 
    position: relative; 
    border-radius: 4px;
  } 
}     

.menu-epf .menu-xj8  { 
    margin: 1rem 0;
} 

.sidebar-hfm .sidebar-dmc .menu-epf .menu-xj8  { 
    border-top: 1px solid rgba(255, 255, 255, 0.2);
} 

.bar-no1 .button-pos  { 
    width: 2.5rem; 
    height: 2.5rem; 
    line-height: 2.5rem; 
    text-align: center; 
    color: #495057; 
    overflow: hidden; 
    border-radius: 4px; 
    background: #f8f9fa; 
    transition: background-color 0.2s, box-shadow 0.2s; 
    display: block; 
    cursor: pointer; 
    outline: 0 none;
} 

@media screen and (min-width: 992px){ 
  .wrapper-1iv.layout-yob .bar-jws .button-pos  { 
    display: none;
  } 
}     

.bar-no1 .button-pos:hover { 
    background: #e9ecef;
} 

.bar-no1 .bar-4wj  { 
    display: block; 
    width: 1px; 
    border-left: 1px solid #dee2e6; 
    align-self: stretch; 
    margin: 0 1rem;
} 

@media screen and (min-width: 992px){ 
  .wrapper-1iv.layout-yob .bar-jws .bar-4wj  { 
    display: none;
  } 
}     

.bar-no1 .vie-c79  { 
    font-weight: 600; 
    font-size: 1.25rem;
} 

.bar-no1 .menu-xya  { 
    margin: 0; 
    padding: 0; 
    list-style-type: none; 
    display: -ms-flexbox; 
    display: flex; 
    -ms-flex-align: center; 
    align-items: center;
} 

.col-ejq { 
    flex: 0 0 auto; 
    padding: .5rem; 
    width: 100%;
} 

.grid-hzf > [class*="col"]  { 
    box-sizing: border-box;
} 

.menu-epf .menu-8on > .menu-igf  { 
    font-size: 0.857rem; 
    text-transform: uppercase; 
    font-weight: 700; 
    padding: 0.5rem 0 1rem 0;
} 

@media screen and (min-width: 992px){ 
  .wrapper-1iv.layout-yob .menu-epf .menu-8on > .menu-igf  { 
    display: none;
  } 
}     

.sidebar-hfm .sidebar-dmc .menu-epf .menu-8on .menu-igf  { 
    color: rgba(255, 255, 255, 0.4);
} 

.menu-epf .menu-8on > a  { 
    display: none;
} 

.sidebar-hfm .sidebar-dmc .menu-epf li a  { 
    color: rgba(255, 255, 255, 0.8);
} 

@media screen and (min-width: 992px){ 
  .wrapper-1iv.layout-yob .menu-epf .menu-8on > a  { 
    display: block; 
    text-align: center; 
    border-radius: 4px; 
    padding: 0.5rem 0; 
    cursor: pointer; 
    outline: none; 
    transition: background-color 0.2s;
  } 
}     

.sidebar-hfm .sidebar-dmc .menu-epf li a:hover { 
    background: rgba(255, 255, 255, 0.1);
} 

.menu-epf ul  { 
    margin: 0; 
    padding: 0; 
    list-style-type: none;
} 

@media screen and (min-width: 992px){ 
  .wrapper-1iv.layout-yob .menu-epf ul  { 
    display: none;
  } 

  .wrapper-1iv.layout-yob .menu-epf .menu-8on > ul  { 
    position: absolute; 
    left: 6rem; 
    top: 0; 
    min-width: 15rem; 
    border: 0 none; 
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12); 
    border-top-right-radius: 4px; 
    border-bottom-right-radius: 4px; 
    padding: 1rem; 
    animation-duration: 0.4s; 
    animation-timing-function: cubic-bezier(0.05, 0.74, 0.2, 0.99);
  } 

  .wrapper-1iv.layout-yob .menu-epf .menu-8on > ul  { 
    left: 0rem; 
    right: 6rem; 
    border-top-right-radius: 0px; 
    border-top-left-radius: 4px; 
    border-bottom-right-radius: 0px; 
    border-bottom-left-radius: 4px; 
    min-width: 18rem;
  } 

  .sidebar-hfm.layout-yob .sidebar-dmc .menu-epf .menu-8on > ul  { 
    background: #1976D2; 
    background-image: linear-gradient(180deg, #1976D2 10%, #1565C0 100%);
  } 
}     

.bar-no1 .button-pos i  { 
    line-height: inherit; 
    font-size: 1.5rem;
} 

.pi-chevron-vaq:before { 
    content: "\e900";
} 

.bar-no1 .logo-yr8  { 
    display: none;
} 

.bar-no1 .menu-xya > li  { 
    margin-left: 1rem; 
    position: relative;
} 

.bar-no1 .menu-xya > li:first-child  { 
    margin-left: 0;
} 

.bar-no1 .menu-xya > li.profile-jbc  { 
    padding: 0 1rem 0 1rem; 
    border-left: 1px solid #dee2e6; 
    border-right: 1px solid #dee2e6;
} 

.card-ho3 { 
    border-radius: 4px; 
    background: #ffffff; 
    padding: 1.25rem; 
    border: 0 none; 
    margin-bottom: 2rem; 
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
} 

.card-ho3:last-child { 
    margin-bottom: 0;
} 

.pi-hga { 
    width: 1.28571429em; 
    text-align: center;
} 

@media screen and (min-width: 992px){ 
  .wrapper-1iv.layout-yob .menu-epf .menu-8on > a .menu-d87  { 
    font-size: 1.25rem;
  } 
}     

.pi-5ye:before { 
    content: "\e9ba";
} 

@media screen and (min-width: 992px){ 
  .wrapper-1iv.layout-yob .menu-epf .menu-8on > a .menu-g79  { 
    font-size: 0.875rem; 
    display: block; 
    margin-top: 0.25rem;
  } 

  .wrapper-1iv.layout-yob .menu-epf .menu-8on > a .toggle-9o8  { 
    display: none;
  } 
}     

.pi-chevron-6ox:before { 
    content: "\e902";
} 

.pi-r5l:before { 
    content: "\e979";
} 

.search-3d4:before { 
    content: "\e908";
} 

.button-8ot { 
    display: inline-block; 
    position: relative; 
    padding: 0; 
    margin-right: .1em; 
    text-decoration: none !important; 
    cursor: pointer; 
    text-align: center; 
    overflow: visible;
} 

.button-9yt { 
    width: 2.4em;
} 

.button-8ot  { 
    background: #2196F3; 
    color: #ffffff; 
    border: 1px solid #2196F3; 
    margin: 0; 
    outline: 0 none; 
    border-radius: 4px; 
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
} 

.button-8ot.button-9yt  { 
    width: 2.357rem;
} 

.button-8ot.button-bvl  { 
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
} 

.button-8ot.button-mme  { 
    background: #607D8B; 
    color: #ffffff; 
    border: 1px solid #607D8B;
} 

 body .button-8ot.button-mme:not(:disabled):hover { 
    background: #56717d; 
    border-color: #56717d; 
    color: #ffffff;
} 

.button-8ot.button-rp5  { 
    background: #0288D1; 
    color: #ffffff; 
    border: 1px solid #0288D1;
} 

.button-8ot.button-c3z  { 
    background: #D32F2F; 
    color: #ffffff; 
    border: 1px solid #D32F2F;
} 

.table-obq { 
    direction: rtl;
} 

.ui-eir { 
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.8); 
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.8); 
    box-shadow: 0 5px 10px rgba(0,0,0,0.8);
} 

.ui-1oi { 
    position: fixed; 
    padding: 0; 
    overflow: hidden; 
    display: none;
} 

.ui-dialog-3mi { 
    direction: rtl;
} 

.ui-1oi  { 
    padding: 0; 
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12); 
    border: 0 none; 
    border-radius: 4px;
} 

.menu-epf ul a  { 
    display: -ms-flexbox; 
    display: flex; 
    -ms-flex-align: center; 
    align-items: center; 
    position: relative; 
    padding: 0.5rem; 
    font-size: 1rem; 
    border-radius: 4px; 
    outline: 0 none; 
    cursor: pointer; 
    transition: background-color 0.2s, box-shadow 0.2s;
} 

.menu-epf ul a  { 
    font-size: 0.92rem;
} 

.menu-epf ul a  { 
    font-size: 0.90rem;
} 

.icon-rx4 { 
    display: inline-block; 
    vertical-align: middle; 
    margin-top: -.25em; 
    position: relative; 
    text-indent: -99999px; 
    overflow: hidden; 
    background-repeat: no-repeat;
} 

.icon-rx4 { 
    display: block; 
    vertical-align: baseline; 
    margin-top: 0;
} 

.button-jfg { 
    left: .5em;
} 

.icon-rx4  { 
    font-size: 1rem; 
    display: inline-block; 
    vertical-align: baseline; 
    margin: 0; 
    position: static; 
    text-indent: 0; 
    overflow: visible; 
    background-repeat: no-repeat;
} 

.button-9yt .icon-rx4  { 
    position: absolute; 
    top: 50%; 
    margin-top: -8px;
} 

.button-9yt .icon-rx4  { 
    left: 50%; 
    margin-left: -8px;
} 

.ui-oz5 .icon-rx4.qcvmm ,.icon-rx4.qcvmm { 
    background: none repeat scroll 0 0 transparent !important; 
    text-indent: 0 !important;
} 

.button-8ot.button-9yt .icon-rx4  { 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    margin-top: -0.5rem; 
    margin-left: -0.5rem;
} 

.pi-9aa:before { 
    content: "\e9c8";
} 

.button-8ot .button-gs1  { 
    display: block; 
    line-height: normal;
} 

.button-9yt .button-gs1  { 
    padding: .3em; 
    text-indent: -9999999px;
} 

.button-8ot.button-9yt .button-gs1  { 
    padding: 0.5rem 0;
} 

.pi-user-ll1:before { 
    content: "\e98a";
} 

.pi-sign-aoe:before { 
    content: "\e971";
} 

.table-ixo .label-o2k  { 
    margin-bottom: 10px; 
    display: none;
} 

.table-ixo .dropdown-r1m  { 
    margin-bottom: 10px; 
    display: none;
} 

.wrapper-mfe { 
    overflow: auto;
} 

.ui-1oi .title-9tp  { 
    padding: .4em .4em .4em 1em; 
    position: relative; 
    border: 0;
} 

.ui-1oi .title-9tp  { 
    background: #ffffff; 
    color: #495057; 
    font-weight: 600; 
    border-bottom: 0 none; 
    padding: 1.5rem;
} 

.ui-helper-zvs:before,.ui-helper-zvs:after { 
    content: ""; 
    display: table; 
    border-collapse: collapse;
} 

.ui-helper-zvs:after { 
    clear: both;
} 

.ui-1oi .content-tzb  { 
    position: relative; 
    border: 0; 
    padding: .5em 1em; 
    background: 0; 
    overflow: auto;
} 

.ui-confirm-e1z .content-tzb  { 
    padding: 1em;
} 

.ui-1oi .content-tzb  { 
    background: #ffffff; 
    color: #495057; 
    border: 0 none; 
    padding: 0 1.5rem 2rem 1.5rem;
} 

.ui-1oi.ui-confirm-e1z .content-tzb  { 
    padding: 1rem 2rem; 
    display: -ms-flexbox; 
    display: flex; 
    -ms-flex-align: center; 
    align-items: center;
} 

.ui-1oi .footer-jhj  { 
    padding: .4em 1em; 
    border-width: 1px 0 0 0; 
    text-align: left;
} 

.ui-1oi .button-9ii  { 
    text-align: left; 
    background-image: none; 
    margin: .5em 0 0 0; 
    padding: .3em 1em .5em .4em;
} 

.ui-1oi .footer-jhj  { 
    border-top: 0 none; 
    background: #ffffff; 
    color: #495057; 
    padding: 0 1.5rem 1.5rem 1.5rem; 
    margin: 0; 
    text-align: right;
} 

.ui-1oi.ui-dialog-3mi .footer-jhj  { 
    text-align: right;
} 

.menu-epf ul a .menu-d87  { 
    margin-right: 0.5rem;
} 

.pi-1k9:before { 
    content: "\e927";
} 

.table-v5v:before { 
    content: "\e969";
} 

.pi-or8:before { 
    content: "\e90b";
} 

.pi-r3q:before { 
    content: "\e90f";
} 

.menu-epf ul a.icon-syw .menu-d87  { 
    transform: rotate(90deg);
} 

.pi-q2s:before { 
    content: "\e958";
} 

.pi-money-9rs:before { 
    content: "\e974";
} 

.pi-f6v:before { 
    content: "\e9b8";
} 

.pi-5q3:before { 
    content: "\e9e6";
} 

.pi-nvk:before { 
    content: "\e95a";
} 

.pi-file-fiy:before { 
    content: "\e9a8";
} 

.pi-qno:before { 
    content: "\e909";
} 

.pi-nvt:before { 
    content: "\e94b";
} 

.tag-ii5:before { 
    content: "\e9be";
} 

.chart-7bs:before { 
    content: "\e96d";
} 

.list-con:before { 
    content: "\e967";
} 

.table-2kw table  { 
    border-collapse: collapse; 
    width: 100%; 
    table-layout: fixed;
} 

.ui-1oi .title-qlw  { 
    float: left; 
    margin: .3em 16px .1em 0;
} 

.ui-1oi.ui-dialog-3mi .title-qlw  { 
    float: right;
} 

.ui-1oi .title-9tp .title-qlw  { 
    margin: 0; 
    float: none; 
    font-size: 1.25rem;
} 

.ui-1oi .title-9tp .title-qlw  { 
    font-size: 1.10rem;
} 

.ui-1oi .title-gn3  { 
    float: right; 
    margin: 0; 
    top: 0; 
    padding: 1px; 
    cursor: pointer;
} 

.ui-1oi.ui-dialog-3mi .title-gn3  { 
    float: left;
} 

.ui-1oi .title-9tp .title-2an  { 
    border: 0 none; 
    padding: 0; 
    margin-left: 0.5rem; 
    width: 2rem; 
    height: 2rem; 
    background: transparent; 
    color: #6c757d; 
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s; 
    border-radius: 50%; 
    text-align: center; 
    line-height: 2rem; 
    user-select: none;
} 

.ui-1oi .title-gn3:hover { 
    padding: 0;
} 

body .ui-1oi .title-9tp .title-2an:hover { 
    background: #e9ecef; 
    color: #495057; 
    border-color: transparent;
} 

.ui-confirm-dialog-91q { 
    float: left; 
    margin-right: 4px;
} 

body .ui-1oi.ui-confirm-e1z .content-tzb > span  { 
    float: none; 
    display: inline-block; 
    vertical-align: middle; 
    line-height: 1; 
    margin: 0 0 0 0.5rem;
} 

body .ui-1oi.ui-confirm-e1z .content-tzb > span.icon-rx4  { 
    margin-right: 0.5rem; 
    font-size: 2.5rem;
} 

.message-1gx { 
    display: inline-block; 
    margin-top: 1px;
} 

.ui-oz5,.ui-oz5 .ui-oz5  { 
    font-size: 0.97rem !important;
} 

.ui-oz5,.ui-oz5 .ui-oz5  { 
    font-size: 0.93rem !important;
} 

.ui-1oi .button-9ii button  { 
    margin: .5em .4em .5em 0; 
    cursor: pointer;
} 

.ui-1oi .footer-jhj button  { 
    margin: 0 0.5rem 0 0; 
    width: auto;
} 

.table-2kw tbody.table-qex  { 
    outline: 0;
} 

.ui-1oi .title-gn3 span  { 
    display: block; 
    margin: 0;
} 

.ui-1oi .title-9tp .title-2an .icon-6qe  { 
    font-family: "primeicons" !important; 
    font-style: normal; 
    font-weight: normal; 
    display: inline-block; 
    background: none;
} 

body .ui-1oi .title-9tp .title-2an .icon-6qe::before { 
    content: "\e90b";
} 

.button-zs2 .button-gs1  { 
    padding: .3em 1em;
} 

.button-8ot.button-zs2 .button-gs1  { 
    padding: 0.5rem 1rem;
} 

body .table-2kw .table-qex > tr  { 
    background: #ffffff; 
    color: #495057; 
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
} 

.table-2kw thead th  { 
    text-align: center;
} 

.table-2kw thead th  { 
    padding: 4px 10px; 
    overflow: hidden; 
    border-width: 1px; 
    border-style: solid;
} 

.table-2kw thead th  { 
    background: #f8f9fa; 
    color: #495057; 
    padding: 1rem 1rem; 
    border: 1px solid #e9ecef; 
    border-width: 0 0 1px 0; 
    text-align: left; 
    box-sizing: content-box; 
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
} 

.table-2kw .column-8cw  { 
    cursor: pointer; 
    user-select: none;
} 

.table-obq.table-2kw thead th  { 
    text-align: right;
} 

.table-2kw tbody td  { 
    padding: 4px 10px; 
    overflow: hidden; 
    border-width: 1px; 
    border-style: solid;
} 

.table-2kw tbody td  { 
    border-color: inherit;
} 

body .table-2kw .table-qex > tr > td  { 
    padding: 1rem 1rem; 
    border: 1px solid rgba(0, 0, 0, 0.08); 
    border-width: 0 0 1px 0;
} 

.table-2kw thead th .column-l68  { 
    font-weight: 700; 
    vertical-align: middle;
} 

.table-2kw .column-3q2  { 
    display: inline-block; 
    margin: -3px 0 -3px 2px;
} 

.table-2kw thead th .column-3q2  { 
    margin: 0 0 0 0.5rem;
} 

.table-2kw thead th .column-3q2.icon-oqp  { 
    font-family: "primeicons" !important; 
    font-style: normal; 
    font-weight: normal; 
    display: inline-block; 
    background: none; 
    vertical-align: middle;
} 

body .table-2kw thead th .column-3q2.icon-oqp::before { 
    content: "\e99e";
} 

.ui-helper-gw3 { 
    display: none;
} 

.table-2kw .column-kvi  { 
    display: -ms-inline-flexbox; 
    display: inline-flex; 
    -ms-flex-align: center; 
    align-items: center; 
    -ms-flex-pack: center; 
    justify-content: center; 
    vertical-align: middle;
} 

.table-2kw thead th .column-kvi  { 
    border-radius: 50%; 
    height: 1.143rem; 
    min-width: 1.143rem; 
    line-height: 1.143rem; 
    color: #ffffff; 
    background: #2196F3; 
    margin-left: 0.5rem; 
    font-size: 0.75rem;
} 

.table-2kw .column-kvi.ui-helper-gw3  { 
    display: none;
} 

@media screen and (max-width: 991px){ 
  .wrapper-1iv .sidebar-dmc  { 
    z-index: 999; 
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15); 
    transform: translateX(-100%);
  } 

  .wrapper-1iv .sidebar-dmc  { 
    z-index: 999; 
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15); 
    transform: translateX(100%);
  } 

  .wrapper-1iv .content-w4c  { 
    margin-left: 0; 
    padding-top: 7.125rem;
  } 

  .wrapper-1iv .bar-no1  { 
    height: 7.125rem; 
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap; 
    position: fixed; 
    left: 0; 
    top: 0; 
    width: 100%; 
    z-index: 998; 
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  } 

  .wrapper-1iv .bar-no1 .bar-jws  { 
    width: 100%; 
    padding: 0.5rem 0; 
    -ms-flex-pack: justify; 
    justify-content: space-between; 
    border-bottom: 1px solid #dee2e6;
  } 

  .wrapper-1iv .bar-no1 .bar-c8y  { 
    width: 100%; 
    padding: 0.5rem 0;
  } 

  .wrapper-1iv .bar-no1 .bar-jws .bar-4wj  { 
    display: none;
  } 

  .wrapper-1iv .bar-no1 .vie-c79  { 
    font-size: 1rem;
  } 

  .wrapper-1iv .bar-no1 .menu-xya  { 
    -ms-flex-pack: justify; 
    justify-content: space-between;
  } 

  .wrapper-1iv .bar-no1 .button-pos i::before { 
    content: "\e91d";
  } 

  .wrapper-1iv .bar-no1 .logo-yr8  { 
    display: block; 
    width: 2rem; 
    height: 2rem;
  } 

  .wrapper-1iv .bar-no1 .menu-xya > li  { 
    margin-left: 0;
  } 
}     

@media screen and (max-width: 576px){ 
  .wrapper-1iv .bar-no1 .menu-xya > li  { 
    position: static;
  } 
}     

@media screen and (max-width: 991px){ 
  .wrapper-1iv .bar-no1 .menu-xya > li.profile-jbc  { 
    border-left: 0; 
    border-right: 0; 
    padding: 0;
  } 
}     

@media (max-width: 640px){ 
  .label-o2k { 
    display: none !important;
  } 

  .table-ixo .label-o2k  { 
    display: inline-block;
  } 

  .table-ixo .dropdown-r1m  { 
    display: inline-block;
  } 

  .table-ixo .dropdown-r1m  { 
    margin-left: 5px; 
    border-top-left-radius: 3px; 
    border-bottom-left-radius: 3px;
  } 

  .table-ixo .dropdown-r1m  { 
    color: #222222; 
    background: #ffffff; 
    box-shadow: inset 0 2px 2px #8f8f8f; 
    margin: 0; 
    margin-top: 0px; 
    margin-right: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px; 
    padding: 4px; 
    padding-top: 4px; 
    padding-right: 4px; 
    padding-bottom: 4px; 
    padding-left: 4px; 
    border: 1px solid #77d5f7; 
    border-radius: 5px;
  } 
}     

.ui-1oi .title-gn3:hover, .ui-1oi .title-gn3:focus, .ui-1oi .ui-dialog-titlebar-minimize:hover, .ui-1oi .ui-dialog-titlebar-minimize:focus, .ui-1oi .ui-dialog-titlebar-maximize:hover, .ui-1oi .ui-dialog-titlebar-maximize:focus { 
    padding: 0;
} 

@media (max-width: 640px){ 
  .table-ixo .table-qex.content-6mk  { 
    border: 0 none;
  } 

  .table-ixo .table-qex tr  { 
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  } 

  .table-ixo .table-qex tr.content-6mk  { 
    border-left: 0 none; 
    border-right: 0 none;
  } 

  .table-ixo thead th  { 
    display: none;
  } 

  .table-ixo tr.message-fg6 > td  { 
    display: block; 
    border: 0 none;
  } 
}     


@keyframes modal-in { 
  0% {  
      background-color: transparent; 
      background-color: transparent; 
  }  
  100% {  
      background-color: rgba(0, 0, 0, 0.6); 
      background-color: rgba(0, 0, 0, 0.6); 
  }  

} 
@keyframes fa-spin { 
  0% {  
      -webkit-transform: rotate(0deg); 
      transform: rotate(0deg); 
      transform: rotate(0deg); 
  }  
  100% {  
      -webkit-transform: rotate(359deg); 
      transform: rotate(359deg); 
      transform: rotate(359deg); 
  }  

} 
/* These were inline style tags. Uses id+class to override almost everything */
#style-om2Jz.style-om2Jz {  
   margin-left: 0.3rem;  
}  
#style-1zSLj.style-1zSLj {  
   margin-left: 0.3rem;  
}  
#style-kQoAd.style-kQoAd {  
   margin-left: 0.3rem;  
}  
#for-kn7.style-x6sfQ {  
   visibility: visible;  
}  
#style-rhBjA.style-rhBjA {  
   width:auto;  
    min-width:100%;  
}  
#for-zy6.style-cjcVs {  
   width: auto;  
    height: auto;  
}  
#for-tfz.style-s1nmE {  
   height: auto;  
}  
#j_i-miq.style-sw4oL {  
   width:32px;  
   height:32px;  
   position:fixed;  
   right:7px;  
   bottom:7px;  
}  
#tex-yon.style-O9koy {  
   position: absolute;  
    top: 0px;  
    left: 0px;  
    visibility: hidden;  
}  
#ale-xis.style-oQCUo {  
   z-index: 1001;  
}  
#sni-q43.style-IACop {  
   right: 53px;  
    top: 229px;  
}  
#style-cJ3iF.style-cJ3iF {  
   touch-action: none;  
}  
#style-8lxbe.style-8lxbe {  
   touch-action: none;  
}  
#style-DrrMX.style-DrrMX {  
   top: 56px;  
    left: 1613px;  
    height: 0px;  
    width: 0px;  
}  
#style-EbtZ5.style-EbtZ5 {  
   top: -4px;  
    left: -4px;  
    height: 0px;  
    width: 0px;  
}  
#style-gjJHb.style-gjJHb {  
   top: 876px;  
    left: 1613px;  
    height: 0px;  
    width: 0px;  
}  
#style-2D2AM.style-2D2AM {  
   top: 56px;  
    left: 1611px;  
    height: 0px;  
    width: 0px;  
}  
#style-OZzO1.style-OZzO1 {  
   top: -2px;  
    left: 0px;  
    height: 0px;  
    width: 0px;  
}  
#style-CoedX.style-CoedX {  
   top: -4px;  
    left: -4px;  
    height: 0px;  
    width: 0px;  
}  
#style-dqQO6.style-dqQO6 {  
   top: -4px;  
    left: -4px;  
    height: 0px;  
    width: 0px;  
}  
#style-EjRAG.style-EjRAG {  
   top: -2px;  
    left: -2px;  
    height: 0px;  
    width: 0px;  
}  
#style-VYQBP.style-VYQBP {  
   top: 0px;  
    left: 0px;  
    position: absolute;  
}  
#sni-ka1.style-S9VXz {  
   left: 1628px;  
    top: 0px;  
}  
/* These were inline style tags. Uses id+class to override almost everything */
#style-2peFa.style-2peFa {  
   margin-left: 0.3rem;  
}  
#style-KUKpQ.style-KUKpQ {  
   margin-left: 0.3rem;  
}  
#style-UsyCh.style-UsyCh {  
   margin-left: 0.3rem;  
}  
#for-a59.style-cnQJx {  
   visibility: visible;  
}  
#style-eN4qo.style-eN4qo {  
   width:auto;  
    min-width:100%;  
}  
#for-yqv.style-APXq8 {  
   width: auto;  
    height: auto;  
}  
#for-ooo.style-9Z4SC {  
   height: auto;  
}  
#j_i-ry8.style-8nA6A {  
   width:32px;  
   height:32px;  
   position:fixed;  
   right:7px;  
   bottom:7px;  
}  
#tex-xpe.style-QcmMH {  
   position: absolute;  
    top: 0px;  
    left: 0px;  
    visibility: hidden;  
}  
#ale-4cf.style-ofEJT {  
   z-index: 1001;  
}  
#sni-mcy.style-Th3k2 {  
   right: 53px;  
    top: 229px;  
}  
#style-7w3Ux.style-7w3Ux {  
   touch-action: none;  
}  
#style-3qxNC.style-3qxNC {  
   touch-action: none;  
}  
#style-fiMpx.style-fiMpx {  
   top: 56px;  
    left: 1613px;  
    height: 0px;  
    width: 0px;  
}  
#style-6gR1Q.style-6gR1Q {  
   top: -4px;  
    left: -4px;  
    height: 0px;  
    width: 0px;  
}  
#style-sWLif.style-sWLif {  
   top: 876px;  
    left: 1613px;  
    height: 0px;  
    width: 0px;  
}  
#style-kpLbS.style-kpLbS {  
   top: 56px;  
    left: 1611px;  
    height: 0px;  
    width: 0px;  
}  
#style-zqyMF.style-zqyMF {  
   top: -2px;  
    left: 0px;  
    height: 0px;  
    width: 0px;  
}  
#style-9BFMV.style-9BFMV {  
   top: -4px;  
    left: -4px;  
    height: 0px;  
    width: 0px;  
}  
#style-rygLj.style-rygLj {  
   top: -4px;  
    left: -4px;  
    height: 0px;  
    width: 0px;  
}  
#style-99kQS.style-99kQS {  
   top: -2px;  
    left: -2px;  
    height: 0px;  
    width: 0px;  
}  
#style-8FxNW.style-8FxNW {  
   top: 0px;  
    left: 0px;  
    position: absolute;  
}  
#sni-x7d.style-olsNi {  
   left: 1628px;  
    top: 0px;  
}  
