@import url('https://fonts.googleapis.com/css?family=Noto+Kufi+Arabic:100,200,300,400,500,600,700,800,900&display=swap'); 
@font-face { 
  font-family:'primeicons';
  font-display:block;
  src:url("./fonts/primeicons.eot.xhtml-ln-diamond-layout");
  src:url("./fonts/primeicons.eot.xhtml-ln-diamond-layout#iefix") format('embedded-opentype'),
    url("./fonts/primeicons.ttf.xhtml-ln-diamond-layout") format('truetype'),
    url("./fonts/primeicons.woff.xhtml-ln-diamond-layout") format('woff'),
    url("./fonts/primeicons.svg.xhtml-ln-diamond-layout#primeicons") format('svg');
  font-weight:normal;
  font-style:normal;
} 
@font-face { 
  font-family:'primeicons';
  font-display:block;
  src:url("./fonts/primeicons.eot.xhtml-ln-primefaces&v-12.0.3");
  src:url("./fonts/primeicons.eot.xhtml-ln-primefaces&v-12.0.3#iefix") format('embedded-opentype'),url("./fonts/primeicons.woff2.xhtml-ln-primefaces&v-12.0.3") format('woff2'),url("./fonts/primeicons.woff.xhtml-ln-primefaces&v-12.0.3") format('woff'),url("./fonts/primeicons.ttf.xhtml-ln-primefaces&v-12.0.3") format('truetype'),url("./fonts/primeicons.svg.xhtml-ln-primefaces&v-12.0.3#primeicons") format('svg');
  font-weight:normal;
  font-style:normal;
} 
  body {  
    font-size:14px;
  }  
* { 
    box-sizing: border-box;
} 

html { 
    height: 100%; 
    font-size: 14px;
} 

body { 
    font-family: 'Noto Kufi Arabic', serif; 
    font-weight: 400; 
    color: #495057; 
    padding: 0; 
    margin: 0; 
    min-height: 100%; 
    background: #f8f9fa; 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
} 

.row-9j9 { 
    position: fixed; 
    top: 20px; 
    right: 20px; 
    width: 301px;
} 

.ui-fq8 { 
    font-size: 0.97rem !important;
} 

.ui-fq8 { 
    font-size: 0.93rem !important;
} 

.row-9j9 { 
    right: unset; 
    left: 20px;
} 

.ui-fq8  { 
    font-family: 'Noto Kufi Arabic', serif; 
    font-size: 1rem; 
    text-decoration: none;
} 

.row-9j9  { 
    top: 85px;
} 

.ui-dialog-docking-rqy { 
    position: fixed; 
    bottom: 0; 
    left: 0;
} 

.sidebar-9k9 { 
    width: 17rem; 
    height: 100%; 
    position: fixed; 
    left: 0; 
    top: 0; 
    overflow: hidden; 
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12); 
    display: -ms-flexbox; 
    display: flex; 
    -ms-flex-direction: column; 
    flex-direction: column; 
    user-select: none; 
    transition: transform 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99);
} 

.sidebar-9k9 { 
    right: 0;
} 

.sidebar-7fn .sidebar-9k9  { 
    background: #1976D2; 
    border-right: 0 none; 
    background-image: linear-gradient(180deg, #1976D2 10%, #1565C0 100%);
} 

@media screen and (min-width: 992px){ 
  .wrapper-sj1.layout-trw .sidebar-9k9  { 
    width: 6rem; 
    overflow: visible; 
    z-index: 999;
  } 

  .wrapper-sj1.layout-trw .sidebar-9k9  { 
    width: 7rem;
  } 
}     

.content-twv { 
    display: -ms-flexbox; 
    display: flex; 
    -ms-flex-direction: column; 
    flex-direction: column; 
    -ms-flex-pack: justify; 
    justify-content: space-between; 
    min-height: 100vh; 
    transition: margin-left 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99);
} 

@media screen and (min-width: 992px){ 
  .wrapper-sj1.layout-trw .content-twv  { 
    margin-left: 7rem;
  } 

  .wrapper-sj1.layout-trw .content-twv  { 
    margin-right: 7rem; 
    margin-left: 0;
  } 
}     

.modal-fqd { 
    -webkit-animation-name: modal-in; 
    animation-name: modal-in;
} 

.layout-d1s { 
    display: none; 
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 998; 
    width: 100%; 
    height: 100%; 
    animation-duration: 0.4s; 
    animation-timing-function: cubic-bezier(0.05, 0.74, 0.2, 0.99); 
    animation-fill-mode: forwards;
} 

a { 
    text-decoration: none; 
    color: #1976D2;
} 

.sidebar-9k9 .logo-3zx  { 
    text-align: center; 
    display: block; 
    outline: 0 none; 
    padding: 1rem; 
    margin-left: 1rem; 
    margin-right: 1rem; 
    transition: background-color 0.2s, box-shadow 0.2s;
} 

.sidebar-7fn .sidebar-9k9 .logo-3zx  { 
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
} 

.container-8hl { 
    overflow: auto; 
    flex: 1; 
    padding: 1rem;
} 

@media screen and (min-width: 992px){ 
  .wrapper-sj1.layout-trw .sidebar-9k9 .container-8hl  { 
    overflow: visible;
  } 
}     

.content-rro { 
    padding: 2rem; 
    flex: 1 1 auto; 
    -ms-flex: 1 1 auto;
} 

.footer-3ko { 
    background: #ffffff; 
    height: 4rem; 
    border-top: 1px solid #dee2e6; 
    border-bottom: 1px solid #dee2e6; 
    padding: 0 2rem; 
    display: -ms-flexbox; 
    display: flex; 
    -ms-flex-align: center; 
    align-items: center; 
    -ms-flex-pack: justify; 
    justify-content: space-between;
} 

.footer-3ko { 
    padding: 18px 2rem; 
    display: block; 
    text-align: center; 
    min-height: 70px; 
    max-height: 85px;
} 

.sidebar-9k9 .image-j8k  { 
    width: 2rem; 
    height: 2rem; 
    vertical-align: middle; 
    margin-right: 0.5rem;
} 

@media screen and (min-width: 992px){ 
  .wrapper-sj1.layout-trw .sidebar-9k9 .image-j8k  { 
    margin-right: 0;
  } 
}     

.sidebar-9k9 .app-mmq  { 
    vertical-align: middle; 
    font-size: 1.5rem; 
    letter-spacing: 0.2px;
} 

.sidebar-7fn .sidebar-9k9 .app-mmq  { 
    color: #ffffff;
} 

@media screen and (min-width: 992px){ 
  .wrapper-sj1.layout-trw .sidebar-9k9 .app-mmq  { 
    display: none;
  } 
}     

.bar-qs7 { 
    background: #ffffff; 
    height: 4rem; 
    padding: 0 2rem; 
    border-bottom: 1px solid #dee2e6; 
    display: -ms-flexbox; 
    display: flex; 
    -ms-flex-align: center; 
    align-items: center; 
    -ms-flex-pack: justify; 
    justify-content: space-between; 
    color: #495057;
} 

.lyvyf { 
    font-family: 'primeicons'; 
    speak: none; 
    font-style: normal; 
    font-weight: normal; 
    font-variant: normal; 
    text-transform: none; 
    line-height: 1; 
    display: inline-block; 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
} 

.pi-61o { 
    -webkit-animation: fa-spin 2s infinite linear; 
    animation: fa-spin 2s infinite linear;
} 

.lyvyf { 
    font-family: 'primeicons'; 
    font-style: normal; 
    font-weight: normal; 
    font-variant: normal; 
    text-transform: none; 
    line-height: 1; 
    display: inline-block; 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
} 

.icon-xna { 
    position: fixed; 
    right: 2rem; 
    bottom: 2rem; 
    font-size: 2rem; 
    color: #6c757d; 
    z-index: 999;
} 

.lyvyf  { 
    font-size: 1rem;
} 

.lyvyf:before { 
    backface-visibility: hidden;
} 

.spinner-eay:before { 
    content: "\e926";
} 

.menu-6h9 { 
    margin: 0; 
    padding: 0; 
    list-style-type: none;
} 

.bar-qs7 .bar-ik2  { 
    display: -ms-flexbox; 
    display: flex; 
    -ms-flex-align: center; 
    align-items: center;
} 

.grid-5fs { 
    display: flex; 
    flex-wrap: wrap; 
    margin-right: -0.5rem; 
    margin-left: -0.5rem; 
    margin-top: -0.5rem;
} 

.footer-3ko .cop-l81  { 
    font-size: 0.95rem; 
    color: #3b3f42; 
    font-weight: bold;
} 

@media screen and (min-width: 992px){ 
  .wrapper-sj1.layout-trw .menu-6h9 .menu-7jt  { 
    position: relative; 
    border-radius: 4px;
  } 
}     

.menu-6h9 .menu-d9p  { 
    margin: 1rem 0;
} 

.sidebar-7fn .sidebar-9k9 .menu-6h9 .menu-d9p  { 
    border-top: 1px solid rgba(255, 255, 255, 0.2);
} 

.bar-qs7 .button-dk7  { 
    width: 2.5rem; 
    height: 2.5rem; 
    line-height: 2.5rem; 
    text-align: center; 
    color: #495057; 
    overflow: hidden; 
    border-radius: 4px; 
    background: #f8f9fa; 
    transition: background-color 0.2s, box-shadow 0.2s; 
    display: block; 
    cursor: pointer; 
    outline: 0 none;
} 

@media screen and (min-width: 992px){ 
  .wrapper-sj1.layout-trw .bar-ik2 .button-dk7  { 
    display: none;
  } 
}     

.bar-qs7 .button-dk7:hover { 
    background: #e9ecef;
} 

.bar-qs7 .bar-ivk  { 
    display: block; 
    width: 1px; 
    border-left: 1px solid #dee2e6; 
    align-self: stretch; 
    margin: 0 1rem;
} 

@media screen and (min-width: 992px){ 
  .wrapper-sj1.layout-trw .bar-ik2 .bar-ivk  { 
    display: none;
  } 
}     

.bar-qs7 .vie-bot  { 
    font-weight: 600; 
    font-size: 1.25rem;
} 

.bar-qs7 .menu-18s  { 
    margin: 0; 
    padding: 0; 
    list-style-type: none; 
    display: -ms-flexbox; 
    display: flex; 
    -ms-flex-align: center; 
    align-items: center;
} 

.col-dw4 { 
    flex: 0 0 auto; 
    padding: .5rem; 
    width: 100%;
} 

.grid-5fs > [class*="col"]  { 
    box-sizing: border-box;
} 

.menu-6h9 .menu-7jt > .menu-co1  { 
    font-size: 0.857rem; 
    text-transform: uppercase; 
    font-weight: 700; 
    padding: 0.5rem 0 1rem 0;
} 

@media screen and (min-width: 992px){ 
  .wrapper-sj1.layout-trw .menu-6h9 .menu-7jt > .menu-co1  { 
    display: none;
  } 
}     

.sidebar-7fn .sidebar-9k9 .menu-6h9 .menu-7jt .menu-co1  { 
    color: rgba(255, 255, 255, 0.4);
} 

.menu-6h9 .menu-7jt > a  { 
    display: none;
} 

.sidebar-7fn .sidebar-9k9 .menu-6h9 li a  { 
    color: rgba(255, 255, 255, 0.8);
} 

@media screen and (min-width: 992px){ 
  .wrapper-sj1.layout-trw .menu-6h9 .menu-7jt > a  { 
    display: block; 
    text-align: center; 
    border-radius: 4px; 
    padding: 0.5rem 0; 
    cursor: pointer; 
    outline: none; 
    transition: background-color 0.2s;
  } 
}     

.sidebar-7fn .sidebar-9k9 .menu-6h9 li a:hover { 
    background: rgba(255, 255, 255, 0.1);
} 

.menu-6h9 ul  { 
    margin: 0; 
    padding: 0; 
    list-style-type: none;
} 

@media screen and (min-width: 992px){ 
  .wrapper-sj1.layout-trw .menu-6h9 ul  { 
    display: none;
  } 

  .wrapper-sj1.layout-trw .menu-6h9 .menu-7jt > ul  { 
    position: absolute; 
    left: 6rem; 
    top: 0; 
    min-width: 15rem; 
    border: 0 none; 
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12); 
    border-top-right-radius: 4px; 
    border-bottom-right-radius: 4px; 
    padding: 1rem; 
    animation-duration: 0.4s; 
    animation-timing-function: cubic-bezier(0.05, 0.74, 0.2, 0.99);
  } 

  .wrapper-sj1.layout-trw .menu-6h9 .menu-7jt > ul  { 
    left: 0rem; 
    right: 6rem; 
    border-top-right-radius: 0px; 
    border-top-left-radius: 4px; 
    border-bottom-right-radius: 0px; 
    border-bottom-left-radius: 4px; 
    min-width: 18rem;
  } 

  .sidebar-7fn.layout-trw .sidebar-9k9 .menu-6h9 .menu-7jt > ul  { 
    background: #1976D2; 
    background-image: linear-gradient(180deg, #1976D2 10%, #1565C0 100%);
  } 
}     

.fa-tq4 { 
    -webkit-animation-name: fade-in-right; 
    animation-name: fade-in-right;
} 

.bar-qs7 .button-dk7 i  { 
    line-height: inherit; 
    font-size: 1.5rem;
} 

.pi-chevron-x8d:before { 
    content: "\e900";
} 

.bar-qs7 .logo-nqk  { 
    display: none;
} 

.bar-qs7 .menu-18s > li  { 
    margin-left: 1rem; 
    position: relative;
} 

.bar-qs7 .menu-18s > li:first-child  { 
    margin-left: 0;
} 

.bar-qs7 .menu-18s > li.profile-ke9  { 
    padding: 0 1rem 0 1rem; 
    border-left: 1px solid #dee2e6; 
    border-right: 1px solid #dee2e6;
} 

.card-9vc { 
    border-radius: 4px; 
    background: #ffffff; 
    padding: 1.25rem; 
    border: 0 none; 
    margin-bottom: 2rem; 
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
} 

.card-9vc:last-child { 
    margin-bottom: 0;
} 

.pi-pnj { 
    width: 1.28571429em; 
    text-align: center;
} 

@media screen and (min-width: 992px){ 
  .wrapper-sj1.layout-trw .menu-6h9 .menu-7jt > a .menu-xn9  { 
    font-size: 1.25rem;
  } 
}     

.pi-nps:before { 
    content: "\e9ba";
} 

@media screen and (min-width: 992px){ 
  .wrapper-sj1.layout-trw .menu-6h9 .menu-7jt > a .menu-463  { 
    font-size: 0.875rem; 
    display: block; 
    margin-top: 0.25rem;
  } 

  .wrapper-sj1.layout-trw .menu-6h9 .menu-7jt > a .toggle-wvs  { 
    display: none;
  } 
}     

.pi-chevron-onn:before { 
    content: "\e902";
} 

.pi-yno:before { 
    content: "\e979";
} 

.search-2bl:before { 
    content: "\e908";
} 

.button-n31 { 
    display: inline-block; 
    position: relative; 
    padding: 0; 
    margin-right: .1em; 
    text-decoration: none !important; 
    cursor: pointer; 
    text-align: center; 
    overflow: visible;
} 

.button-xcv { 
    width: 2.4em;
} 

.button-n31  { 
    background: #2196F3; 
    color: #ffffff; 
    border: 1px solid #2196F3; 
    margin: 0; 
    outline: 0 none; 
    border-radius: 4px; 
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
} 

.button-n31.button-xcv  { 
    width: 2.357rem;
} 

.button-n31.button-vpx  { 
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
} 

.button-n31.button-fwy  { 
    background: #607D8B; 
    color: #ffffff; 
    border: 1px solid #607D8B;
} 

 body .button-n31.button-fwy:not(:disabled):hover { 
    background: #56717d; 
    border-color: #56717d; 
    color: #ffffff;
} 

.button-n31.button-vlm  { 
    background: #0288D1; 
    color: #ffffff; 
    border: 1px solid #0288D1;
} 

.button-n31.button-qgy  { 
    background: #D32F2F; 
    color: #ffffff; 
    border: 1px solid #D32F2F;
} 

.ui-9fz { 
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.8); 
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.8); 
    box-shadow: 0 5px 10px rgba(0,0,0,0.8);
} 

.ui-ir7 { 
    position: relative;
} 

.ui-ets { 
    position: fixed; 
    padding: 0; 
    overflow: hidden; 
    display: none;
} 

.ui-dialog-h5k { 
    direction: rtl;
} 

.ui-ets  { 
    padding: 0; 
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12); 
    border: 0 none; 
    border-radius: 4px;
} 

.menu-6h9 ul a  { 
    display: -ms-flexbox; 
    display: flex; 
    -ms-flex-align: center; 
    align-items: center; 
    position: relative; 
    padding: 0.5rem; 
    font-size: 1rem; 
    border-radius: 4px; 
    outline: 0 none; 
    cursor: pointer; 
    transition: background-color 0.2s, box-shadow 0.2s;
} 

.menu-6h9 ul a  { 
    font-size: 0.92rem;
} 

.menu-6h9 ul a  { 
    font-size: 0.90rem;
} 

.icon-95q { 
    display: inline-block; 
    vertical-align: middle; 
    margin-top: -.25em; 
    position: relative; 
    text-indent: -99999px; 
    overflow: hidden; 
    background-repeat: no-repeat;
} 

.icon-95q { 
    display: block; 
    vertical-align: baseline; 
    margin-top: 0;
} 

.button-27o { 
    left: .5em;
} 

.icon-95q  { 
    font-size: 1rem; 
    display: inline-block; 
    vertical-align: baseline; 
    margin: 0; 
    position: static; 
    text-indent: 0; 
    overflow: visible; 
    background-repeat: no-repeat;
} 

.button-xcv .icon-95q  { 
    position: absolute; 
    top: 50%; 
    margin-top: -8px;
} 

.button-xcv .icon-95q  { 
    left: 50%; 
    margin-left: -8px;
} 

.ui-fq8 .icon-95q.lyvyf ,.icon-95q.lyvyf { 
    background: none repeat scroll 0 0 transparent !important; 
    text-indent: 0 !important;
} 

.button-n31.button-xcv .icon-95q  { 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    margin-top: -0.5rem; 
    margin-left: -0.5rem;
} 

.pi-kdj:before { 
    content: "\e9c8";
} 

.button-n31 .button-78q  { 
    display: block; 
    line-height: normal;
} 

.button-xcv .button-78q  { 
    padding: .3em; 
    text-indent: -9999999px;
} 

.button-n31.button-xcv .button-78q  { 
    padding: 0.5rem 0;
} 

.pi-user-961:before { 
    content: "\e98a";
} 

.pi-sign-bxq:before { 
    content: "\e971";
} 

h6 { 
    margin: 1.5rem 0 1rem 0; 
    font-family: inherit; 
    font-weight: 600; 
    line-height: 1.2; 
    color: inherit;
} 

h6 { 
    font-size: 1rem;
} 

h6 { 
    font-size: 0.90rem;
} 

h6:first-child { 
    margin-top: 0;
} 

.table-qvf { 
    direction: rtl;
} 

.ui-fq8,.ui-fq8 .ui-fq8  { 
    font-size: 0.97rem !important;
} 

.ui-fq8,.ui-fq8 .ui-fq8  { 
    font-size: 0.93rem !important;
} 

.button-agm .button-78q  { 
    padding: .3em 1em;
} 

.button-n31.button-agm .button-78q  { 
    padding: 0.5rem 1rem;
} 

.ui-draggable-b3w { 
    -ms-touch-action: none; 
    touch-action: none;
} 

.ui-ets .title-qky  { 
    padding: .4em .4em .4em 1em; 
    position: relative; 
    border: 0;
} 

.ui-2lz .title-qky  { 
    cursor: move;
} 

.ui-ets .title-qky  { 
    background: #ffffff; 
    color: #495057; 
    font-weight: 600; 
    border-bottom: 0 none; 
    padding: 1.5rem;
} 

.ui-helper-eim:before,.ui-helper-eim:after { 
    content: ""; 
    display: table; 
    border-collapse: collapse;
} 

.ui-helper-eim:after { 
    clear: both;
} 

.ui-ets .content-b6h  { 
    position: relative; 
    border: 0; 
    padding: .5em 1em; 
    background: 0; 
    overflow: auto;
} 

.ui-ets .content-b6h  { 
    background: #ffffff; 
    color: #495057; 
    border: 0 none; 
    padding: 0 1.5rem 2rem 1.5rem;
} 

.ui-ets.ui-ir7 .content-b6h  { 
    box-sizing: content-box;
} 

.ui-resizable-klo { 
    position: absolute; 
    font-size: .1px; 
    display: block; 
    -ms-touch-action: none; 
    touch-action: none;
} 

.ui-resizable-lhi { 
    cursor: n-resize; 
    height: 7px; 
    width: 100%; 
    top: -5px; 
    left: 0;
} 

.ui-resizable-klo  { 
    position: absolute;
} 

.ui-resizable-pjq { 
    cursor: s-resize; 
    height: 7px; 
    width: 100%; 
    bottom: -5px; 
    left: 0;
} 

.ui-resizable-q3t { 
    cursor: e-resize; 
    width: 7px; 
    right: -5px; 
    top: 0; 
    height: 100%;
} 

.ui-resizable-hes { 
    cursor: w-resize; 
    width: 7px; 
    left: -5px; 
    top: 0; 
    height: 100%;
} 

.ui-resizable-xx3 { 
    cursor: ne-resize; 
    width: 9px; 
    height: 9px; 
    right: -5px; 
    top: -5px;
} 

.ui-resizable-3wf { 
    cursor: nw-resize; 
    width: 9px; 
    height: 9px; 
    left: -5px; 
    top: -5px;
} 

.ui-resizable-jzz { 
    cursor: se-resize; 
    width: 12px; 
    height: 12px; 
    right: 1px; 
    bottom: 1px;
} 

.ui-ets .ui-resizable-jzz  { 
    position: absolute; 
    width: 9px; 
    height: 9px; 
    right: -5px; 
    bottom: -5px;
} 

.ui-resizable-y3q { 
    cursor: sw-resize; 
    width: 9px; 
    height: 9px; 
    left: -5px; 
    bottom: -5px;
} 

.menu-6h9 ul a .menu-xn9  { 
    margin-right: 0.5rem;
} 

.pi-myv:before { 
    content: "\e927";
} 

.table-p9o:before { 
    content: "\e969";
} 

.pi-zk6:before { 
    content: "\e90b";
} 

.pi-sif:before { 
    content: "\e90f";
} 

.menu-6h9 ul a.icon-doe .menu-xn9  { 
    transform: rotate(90deg);
} 

.pi-t84:before { 
    content: "\e958";
} 

.pi-money-ysa:before { 
    content: "\e974";
} 

.pi-8mw:before { 
    content: "\e9b8";
} 

.pi-lxb:before { 
    content: "\e9e6";
} 

.pi-z4o:before { 
    content: "\e95a";
} 

.pi-file-lqh:before { 
    content: "\e9a8";
} 

.pi-ceb:before { 
    content: "\e909";
} 

.pi-pgx:before { 
    content: "\e94b";
} 

.tag-job:before { 
    content: "\e9be";
} 

.chart-a99:before { 
    content: "\e96d";
} 

.list-5l1:before { 
    content: "\e967";
} 

.wrapper-8rm { 
    overflow: auto;
} 

.ui-ets .title-cbk  { 
    float: left; 
    margin: .3em 16px .1em 0;
} 

.ui-ets.ui-dialog-h5k .title-cbk  { 
    float: right;
} 

.ui-ets .title-qky .title-cbk  { 
    margin: 0; 
    float: none; 
    font-size: 1.25rem;
} 

.ui-ets .title-qky .title-cbk  { 
    font-size: 1.10rem;
} 

.ui-ets .title-5f6  { 
    float: right; 
    margin: 0; 
    top: 0; 
    padding: 1px; 
    cursor: pointer;
} 

.ui-ets.ui-dialog-h5k .title-5f6  { 
    float: left;
} 

.ui-ets .title-qky .title-ire  { 
    border: 0 none; 
    padding: 0; 
    margin-left: 0.5rem; 
    width: 2rem; 
    height: 2rem; 
    background: transparent; 
    color: #6c757d; 
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s; 
    border-radius: 50%; 
    text-align: center; 
    line-height: 2rem; 
    user-select: none;
} 

.ui-ets .title-5f6:hover { 
    padding: 0;
} 

body .ui-ets .title-qky .title-ire:hover { 
    background: #e9ecef; 
    color: #495057; 
    border-color: transparent;
} 

.table-ryv table  { 
    border-collapse: collapse; 
    width: 100%; 
    table-layout: fixed;
} 

.ui-ets .title-5f6 span  { 
    display: block; 
    margin: 0;
} 

.ui-ets .title-qky .title-ire .icon-5sv  { 
    font-family: "primeicons" !important; 
    font-style: normal; 
    font-weight: normal; 
    display: inline-block; 
    background: none;
} 

body .ui-ets .title-qky .title-ire .icon-5sv::before { 
    content: "\e90b";
} 

.table-ryv tbody.table-o3y  { 
    outline: 0;
} 

body .table-ryv .table-o3y > tr  { 
    background: #ffffff; 
    color: #495057; 
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
} 

body .table-ryv.table-79o .table-o3y > tr.table-7y1  { 
    background: #fcfcfc;
} 

body .table-ryv.table-79o .table-o3y > tr.table-7y1  { 
    background: #E9ECEF;
} 

.table-ryv thead th  { 
    text-align: center;
} 

.table-ryv thead th  { 
    padding: 4px 10px; 
    overflow: hidden; 
    border-width: 1px; 
    border-style: solid;
} 

.table-ryv thead th  { 
    background: #f8f9fa; 
    color: #495057; 
    padding: 1rem 1rem; 
    border: 1px solid #e9ecef; 
    border-width: 0 0 1px 0; 
    text-align: left; 
    box-sizing: content-box; 
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
} 

.table-qvf.table-ryv thead th  { 
    text-align: right;
} 

body .table-ryv.table-pmw thead > tr > th  { 
    padding: 0.5rem 0.5rem;
} 

.table-ryv tbody td  { 
    padding: 4px 10px; 
    overflow: hidden; 
    border-width: 1px; 
    border-style: solid;
} 

.table-ryv tbody td  { 
    border-color: inherit;
} 

body .table-ryv .table-o3y > tr > td  { 
    padding: 1rem 1rem; 
    border: 1px solid rgba(0, 0, 0, 0.08); 
    border-width: 0 0 1px 0;
} 

body .table-ryv.table-pmw .table-o3y > tr > td  { 
    padding: 0.5rem 0.5rem;
} 

.table-ryv thead th .column-h6r  { 
    font-weight: 700; 
    vertical-align: middle;
} 

@media screen and (max-width: 991px){ 
  .wrapper-sj1 .sidebar-9k9  { 
    z-index: 999; 
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15); 
    transform: translateX(-100%);
  } 

  .wrapper-sj1 .sidebar-9k9  { 
    z-index: 999; 
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15); 
    transform: translateX(100%);
  } 

  .wrapper-sj1 .content-twv  { 
    margin-left: 0; 
    padding-top: 7.125rem;
  } 

  .wrapper-sj1 .bar-qs7  { 
    height: 7.125rem; 
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap; 
    position: fixed; 
    left: 0; 
    top: 0; 
    width: 100%; 
    z-index: 998; 
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  } 

  .wrapper-sj1 .bar-qs7 .bar-ik2  { 
    width: 100%; 
    padding: 0.5rem 0; 
    -ms-flex-pack: justify; 
    justify-content: space-between; 
    border-bottom: 1px solid #dee2e6;
  } 

  .wrapper-sj1 .bar-qs7 .bar-n7n  { 
    width: 100%; 
    padding: 0.5rem 0;
  } 

  .wrapper-sj1 .bar-qs7 .bar-ik2 .bar-ivk  { 
    display: none;
  } 

  .wrapper-sj1 .bar-qs7 .vie-bot  { 
    font-size: 1rem;
  } 

  .wrapper-sj1 .bar-qs7 .menu-18s  { 
    -ms-flex-pack: justify; 
    justify-content: space-between;
  } 

  .wrapper-sj1 .bar-qs7 .button-dk7 i::before { 
    content: "\e91d";
  } 

  .wrapper-sj1 .bar-qs7 .logo-nqk  { 
    display: block; 
    width: 2rem; 
    height: 2rem;
  } 

  .wrapper-sj1 .bar-qs7 .menu-18s > li  { 
    margin-left: 0;
  } 
}     

@media screen and (max-width: 576px){ 
  .wrapper-sj1 .bar-qs7 .menu-18s > li  { 
    position: static;
  } 
}     

@media screen and (max-width: 991px){ 
  .wrapper-sj1 .bar-qs7 .menu-18s > li.profile-ke9  { 
    border-left: 0; 
    border-right: 0; 
    padding: 0;
  } 
}     

.ui-ets .title-5f6:hover, .ui-ets .title-5f6:focus, .ui-ets .ui-dialog-titlebar-minimize:hover, .ui-ets .ui-dialog-titlebar-minimize:focus, .ui-ets .ui-dialog-titlebar-maximize:hover, .ui-ets .ui-dialog-titlebar-maximize:focus { 
    padding: 0;
} 

@media (max-width: 640px){ 
  body .table-ryv.table-79o .table-o3y > tr.table-x98  { 
    border-bottom: black 1px solid;
  } 

  body .table-ryv.table-79o .table-o3y > tr.table-7y1  { 
    background: #E9ECEF; 
    border-bottom: black 1px solid;
  } 
}     


@keyframes modal-in { 
  0% {  
      background-color: transparent; 
      background-color: transparent; 
  }  
  100% {  
      background-color: rgba(0, 0, 0, 0.6); 
      background-color: rgba(0, 0, 0, 0.6); 
  }  

} 
@keyframes fa-spin { 
  0% {  
      -webkit-transform: rotate(0deg); 
      transform: rotate(0deg); 
      transform: rotate(0deg); 
  }  
  100% {  
      -webkit-transform: rotate(359deg); 
      transform: rotate(359deg); 
      transform: rotate(359deg); 
  }  

} 
@keyframes fade-in-right { 
  0% {  
      opacity: 0; 
      transform: translateX(20px); 
      opacity: 0; 
      transform: translateX(20px); 
  }  
  100% {  
      opacity: 1; 
      transform: none; 
      opacity: 1; 
      transform: none; 
  }  

} 
/* These were inline style tags. Uses id+class to override almost everything */
#style-TSoRj.style-TSoRj {  
   margin-left: 0.3rem;  
}  
#style-yGjkp.style-yGjkp {  
   margin-left: 0.3rem;  
}  
#style-N5Hp8.style-N5Hp8 {  
   margin-left: 0.3rem;  
}  
#style-n1xTJ.style-n1xTJ {  
   width:auto;  
    min-width:100%;  
}  
#style-CQnIC.style-CQnIC {  
   font-weight: bold;  
}  
#style-Q5yQY.style-Q5yQY {  
   font-weight: bold;  
}  
#for-oa9.style-9foAV {  
   width: 75%;  
    height: auto;  
}  
#for-od3.style-nmGDm {  
   height: auto;  
}  
#style-ynLZC.style-ynLZC {  
   z-index: 90;  
}  
#style-s5sYr.style-s5sYr {  
   z-index: 90;  
}  
#style-41Sf8.style-41Sf8 {  
   z-index: 90;  
}  
#style-g1RkV.style-g1RkV {  
   z-index: 90;  
}  
#style-frI1n.style-frI1n {  
   z-index: 90;  
}  
#style-oJ2yN.style-oJ2yN {  
   z-index: 90;  
}  
#style-1Tw5o.style-1Tw5o {  
   z-index: 90;  
}  
#style-m1Ump.style-m1Ump {  
   z-index: 90;  
}  
#j_i-cc6.style-7LEKZ {  
   width:32px;  
   height:32px;  
   position:fixed;  
   right:7px;  
   bottom:7px;  
}  
#tex-ab4.style-1xoHo {  
   position: absolute;  
    top: 0px;  
    left: 0px;  
    visibility: hidden;  
}  
#ale-iw9.style-n18vq {  
   z-index: 1001;  
}  
#style-EZVg9.style-EZVg9 {  
   top: 12px;  
    left: 155px;  
    height: 0px;  
    width: 0px;  
}  
#style-z6lLq.style-z6lLq {  
   top: 12px;  
    left: 238px;  
    height: 0px;  
    width: 0px;  
}  
#style-c5Mfd.style-c5Mfd {  
   top: 41px;  
    left: 155px;  
    height: 0px;  
    width: 0px;  
}  
#style-4hdNW.style-4hdNW {  
   top: 12px;  
    left: 153px;  
    height: 0px;  
    width: 0px;  
}  
#style-v1Kvp.style-v1Kvp {  
   top: 6px;  
    left: 70px;  
    height: 0px;  
    width: 0px;  
}  
#style-x2MWP.style-x2MWP {  
   top: 6px;  
    left: 101px;  
    height: 0px;  
    width: 0px;  
}  
#style-hid4X.style-hid4X {  
   top: 47px;  
    left: 70px;  
    height: 0px;  
    width: 0px;  
}  
#style-yKyUK.style-yKyUK {  
   top: 6px;  
    left: 68px;  
    height: 0px;  
    width: 0px;  
}  
#style-GvePf.style-GvePf {  
   top: 0px;  
    left: 0px;  
    position: absolute;  
}  
#sni-4hk.style-S4Ws2 {  
   right: 53px;  
    top: 229px;  
}  
#style-UXWcf.style-UXWcf {  
   touch-action: none;  
}  
#style-Yv4VO.style-Yv4VO {  
   touch-action: none;  
}  
#style-TaxPz.style-TaxPz {  
   top: 209px;  
    left: 701px;  
    height: 0px;  
    width: 0px;  
}  
#style-lPqFV.style-lPqFV {  
   top: 209px;  
    left: 1568px;  
    height: 0px;  
    width: 0px;  
}  
#style-CskAm.style-CskAm {  
   top: 251px;  
    left: 701px;  
    height: 0px;  
    width: 0px;  
}  
#style-2yMBV.style-2yMBV {  
   top: 209px;  
    left: 699px;  
    height: 0px;  
    width: 0px;  
}  
#style-JT5nV.style-JT5nV {  
   top: -2px;  
    left: 0px;  
    height: 0px;  
    width: 0px;  
}  
#style-H3S8l.style-H3S8l {  
   top: -4px;  
    left: -4px;  
    height: 0px;  
    width: 0px;  
}  
#style-iJjtW.style-iJjtW {  
   top: -4px;  
    left: -4px;  
    height: 0px;  
    width: 0px;  
}  
#style-Jo1Vf.style-Jo1Vf {  
   top: -2px;  
    left: -2px;  
    height: 0px;  
    width: 0px;  
}  
#style-IHFKm.style-IHFKm {  
   top: 0px;  
    left: 0px;  
    position: absolute;  
}  
#sni-kyj.style-ghzOI {  
   left: 1628px;  
    top: 0px;  
}  
/* These were inline style tags. Uses id+class to override almost everything */
#style-8s3tH.style-8s3tH {  
   margin-left: 0.3rem;  
}  
#style-3owSo.style-3owSo {  
   margin-left: 0.3rem;  
}  
#style-o6TIK.style-o6TIK {  
   margin-left: 0.3rem;  
}  
#style-iByfL.style-iByfL {  
   width:auto;  
    min-width:100%;  
}  
#style-YrQy3.style-YrQy3 {  
   font-weight: bold;  
}  
#style-vBqZB.style-vBqZB {  
   font-weight: bold;  
}  
#for-k2a.style-KMM6S {  
   width: 75%;  
    height: auto;  
}  
#for-zr5.style-7iWeA {  
   height: auto;  
}  
#style-H4rq8.style-H4rq8 {  
   z-index: 90;  
}  
#style-ymCnj.style-ymCnj {  
   z-index: 90;  
}  
#style-3oJG6.style-3oJG6 {  
   z-index: 90;  
}  
#style-bwa6V.style-bwa6V {  
   z-index: 90;  
}  
#style-oe9Ev.style-oe9Ev {  
   z-index: 90;  
}  
#style-neKWG.style-neKWG {  
   z-index: 90;  
}  
#style-dUwdj.style-dUwdj {  
   z-index: 90;  
}  
#style-Wd1tG.style-Wd1tG {  
   z-index: 90;  
}  
#j_i-i5b.style-fM5cF {  
   width:32px;  
   height:32px;  
   position:fixed;  
   right:7px;  
   bottom:7px;  
}  
#tex-ojp.style-EpAyq {  
   position: absolute;  
    top: 0px;  
    left: 0px;  
    visibility: hidden;  
}  
#ale-pgr.style-D6fvo {  
   z-index: 1001;  
}  
#style-Nalsz.style-Nalsz {  
   top: 12px;  
    left: 155px;  
    height: 0px;  
    width: 0px;  
}  
#style-BRX6e.style-BRX6e {  
   top: 12px;  
    left: 238px;  
    height: 0px;  
    width: 0px;  
}  
#style-oCD2v.style-oCD2v {  
   top: 41px;  
    left: 155px;  
    height: 0px;  
    width: 0px;  
}  
#style-2oheU.style-2oheU {  
   top: 12px;  
    left: 153px;  
    height: 0px;  
    width: 0px;  
}  
#style-EmS5w.style-EmS5w {  
   top: 6px;  
    left: 70px;  
    height: 0px;  
    width: 0px;  
}  
#style-c3IOd.style-c3IOd {  
   top: 6px;  
    left: 101px;  
    height: 0px;  
    width: 0px;  
}  
#style-rUVvw.style-rUVvw {  
   top: 47px;  
    left: 70px;  
    height: 0px;  
    width: 0px;  
}  
#style-rk1mo.style-rk1mo {  
   top: 6px;  
    left: 68px;  
    height: 0px;  
    width: 0px;  
}  
#style-1Egpl.style-1Egpl {  
   top: 0px;  
    left: 0px;  
    position: absolute;  
}  
#sni-tje.style-Pn5ld {  
   right: 53px;  
    top: 229px;  
}  
#style-ETNti.style-ETNti {  
   touch-action: none;  
}  
#style-8QC2s.style-8QC2s {  
   touch-action: none;  
}  
#style-dz1Lq.style-dz1Lq {  
   top: 209px;  
    left: 701px;  
    height: 0px;  
    width: 0px;  
}  
#style-5nNvh.style-5nNvh {  
   top: 209px;  
    left: 1568px;  
    height: 0px;  
    width: 0px;  
}  
#style-zNJDR.style-zNJDR {  
   top: 251px;  
    left: 701px;  
    height: 0px;  
    width: 0px;  
}  
#style-ALBUC.style-ALBUC {  
   top: 209px;  
    left: 699px;  
    height: 0px;  
    width: 0px;  
}  
#style-jmaPU.style-jmaPU {  
   top: -2px;  
    left: 0px;  
    height: 0px;  
    width: 0px;  
}  
#style-1inrs.style-1inrs {  
   top: -4px;  
    left: -4px;  
    height: 0px;  
    width: 0px;  
}  
#style-5xNRr.style-5xNRr {  
   top: -4px;  
    left: -4px;  
    height: 0px;  
    width: 0px;  
}  
#style-TLfHw.style-TLfHw {  
   top: -2px;  
    left: -2px;  
    height: 0px;  
    width: 0px;  
}  
#style-lH5PJ.style-lH5PJ {  
   top: 0px;  
    left: 0px;  
    position: absolute;  
}  
#sni-gg5.style-fZtoi {  
   left: 1628px;  
    top: 0px;  
}  
